<?php if ($this->card) : ?>
    <?php $card = $this->card ?>
    <?php /* @var $card \Clans\Models\Card */ ?>
    <?php $cardsService = new \Clans\Service\Card() ?>
    <div class="card" data-clan="<?php echo $card->getClan() ?>" data-type="<?php echo $card->getType() ?>">
        <div class="card-frame"></div>
        <?php if ($image = $cardsService->getImageForCard($card)) : ?>
        <div class="card-image">
            <img src="<?php echo $image ?>" />
        </div>
        <?php endif; ?>
        <h3 class="card-title card-part"><?php echo $card->getName() ?></h3>
        <div class="card-resources card-part card-stat"><?php echo $card->getCost() ?></div>
        <div class="card-speed card-part card-stat"><?php echo $card->getSpeed() ?></div>
        <?php if ($card->getType() == 'Ally') : ?><div class="card-attack card-part card-stat"><?php echo $card->getAttack() ?></div><?php endif; ?>
        <?php if ($card->getType() == 'Ally' || $card->getType() == 'Structure') : ?><div class="card-defence card-part card-stat"><?php echo $card->getDefence() ?></div><?php endif; ?>
        <p class="card-text card-part">
            <?php echo $card->getGametextAsHTML() ?>
        </p>
    </div>

    <script type="text/javascript">
        var tooltips = {
            'Armour': 'Prevents X damage when it is dealt damage',
            'Dusk': 'Happens at the start of the night',
            'Dawn': 'Happens at the start of the day',
            'Ranged': 'Takes no damage from defenders',
            'Rally': 'Happens when this is deployed',
            'Final Wish': 'Happens when this is defeated',
            'Recycle': 'Banish X cards from your graveyard'
        };

        $(document).ready(function () {
            $('.card strong').each(function () {
                if (tooltips[$(this).html()]) {
                    $(this).attr('title', tooltips[$(this).html()]);
                    $(this).addClass('hasTooltip');
                }
            });
            $('.card strong.hasTooltip').tooltip();
        });
    </script>
<?php endif; ?>