<style>
    img {
        width: 240px;
        float: left;
    }
</style>
<?php foreach ($this->cards as $card) : ?>
<?php /* @var $card \Clans\Models\Card */ ?>

<img src="/card/render/<?php echo $card->getId() ?>?white=1" />

<?php endforeach; ?>
