<?php if ($this->card) : ?>
<?php $card = $this->card; ?>
<?php $cardsService = new \Clans\Service\Card(); ?>
<?php /* @var $card \Clans\Models\Card */ ?>

<?php if (!$this->thin) : ?>
<div class="row">
    <div class="span4">
<?php endif; ?>

    <div class="card full" style="background-image: url('/asset/images/card-bg-<?php echo strtolower($card->getClan()) ?>-81-no-text.png'), url('<?php echo $cardsService->getImageForCard($card) ?>')">
        <?php echo $this->partial('/card/card-details.phtml', array('card' => $card, 'full' => true)); ?>
        
    </div>
        
    <?php if ($this->thin) : ?>

    <div id="detail-btn">
        <a class="btn" target="_top" href="/card/<?php echo $card->getId() ?>">View Details</a>
    </div>

    <?php else : ?>
    
    </div>
        
    <div class="span5">
        <div class="well">
            <h3 class="navbar-inner">Card Details</h3>
            <div class="well-inner">
                <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-striped">
                    <tr>
                        <th style='width: 80px'>Name</th>
                        <td class="name card-value"><?php echo $card->getName() ?></td>
                    </tr>
                    <tr>
                        <th>Cost</th>
                        <td class="cost card-value"><?php echo $card->getCost() ?></td>
                    </tr>
                    <tr>
                        <th>Influence Required</th>
                        <td class="threshold card-value">
                            <?php echo str_repeat("B", $card->getInfluenceB()).str_repeat("M", $card->getInfluenceM()).str_repeat("R", $card->getInfluenceR()).str_repeat("G", $card->getInfluenceG()) ?>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td class="type card-value"><?php echo $card->getType() ?></td>
                    </tr>
                    <?php if ($card->getAttack() || $card->getDefence()) : ?>
                    <tr>
                        <th>Atk/Def</th>
                        <td class="atk-def card-value"><?php echo $card->getAttack() . "/" . $card->getDefence() ?></td>
                    </tr>
                    <?php endif; ?>
                    <tr>
                        <th>Gametext</th>
                        <td class="gametext card-value"><?php echo nl2br($card->getGametext()) ?></td>
                    </tr>
                    <?php if ($card->getLore()) : ?>
                    <tr>
                        <th>Lore</th>
                        <td class="lore card-value"><?php echo nl2br($card->getLore()) ?></td>
                    </tr>
                    <?php endif; ?>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="span9">
        <div class="well">
            <h3 class="navbar-inner">Comments</h3>
            <div class="well-inner">
                Comments feature coming soon...
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="span9">
        <div class="well">
            <h3 class="navbar-inner">Effects</h3>
            <div class="well-inner">
                <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-striped">
                <?php foreach ($card->getEffects() as $effect) : ?>
                <?php /* @var $effect \Clans\Models\Effect */ ?>
                    <tr>
                        <td>
                            <?php echo $effect->getEffect() ?>
                            <?php echo $effect->isTriggered() ? '(triggered)' : '' ?>
                            <?php echo $effect->isExtra() ? '(extra)' : '' ?>
                            <?php echo $effect->isSub() ? '(sub)' : '' ?>
                        </td>
                    </tr>
                <?php endforeach; ?>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="span9">
        <div class="well">
            <h3 class="navbar-inner">Triggers</h3>
            <div class="well-inner">
                <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-striped">
                <?php foreach ($card->getTriggers() as $trigger) : ?>
                <?php /* @var $trigger \Clans\Models\Trigger */ ?>
                <tr>
                    <td>
                        <?php echo $trigger->getTrigger() ?>
                        (<?php echo $trigger->getEffect()->getEffect() ?>)
                    </td>
                </tr>
                <?php endforeach; ?>
                </table>
            </div>
        </div>
    </div>
</div>

    <?php endif; ?>
    
<?php else : ?>

<h1>Card not found</h1>

<?php endif; ?>
