﻿#cardgrid {
  clear: both;
}
#cardgrid .card-render {
  float: left;
}
#card-grid-loading-bar {
  display: none;
}
.cardcell {
  float: left;
  width: 224px;
  height: 312px;
  position: relative;
}
.cardcell.last {
  margin-right: 0;
}
.cardcell.inactive .card {
  display: none;
}
.card {
  display: block;
  background-size: 100%;
  background-position: 0 38%;
  background-repeat: no-repeat;
  width: 224px;
  height: 312px;
  position: relative;
  padding: 15px 11px;
  cursor: default;
  transform-origin: top left;
}
@media (max-height: 1079px), (max-width: 1439px) {
  #game .card {
    width: 154px;
    height: 215px;
    padding: 15px 11px;
  }
  #game .card.facedown img {
    width: 132px;
  }
  #game .card .card-image {
    width: 132px;
  }
  #game .card .card-stat {
    font-size: 16px;
    width: 28px;
    height: 28px;
    line-height: 27px;
  }
  #game .card .card-title {
    width: 132px;
    top: 17px;
    font-size: 13px;
  }
  #game .card .card-attack {
    padding-right: 2px;
    line-height: 28px;
    width: 33px;
    height: 33px;
  }
  #game .card .card-defence {
    width: 30px;
    height: 40px;
    line-height: 40px;
    padding-left: 2px;
  }
  #game .card .card-text {
    width: 132px;
    top: 135px;
    height: 61px;
    font-size: 10px;
    line-height: 12px;
    padding: 0 6px;
  }
  #game .card .card-icon {
    height: 9px;
    width: 9px;
  }
  #game .card .card-icon.def-icon {
    width: 7px;
  }
  #game .card .card-icon.pain-icon {
    width: 8px;
  }
  #game .card .card-icon.health-icon {
    width: 7px;
  }
  #game .card .arrow-right {
    background-size: cover;
    width: 10px;
    height: 6px;
  }
}
.card.facedown img {
  width: 202px;
}
.card .card-frame {
  height: 100%;
  width: 100%;
  background-size: cover;
}
.card[data-clan=Bain][data-type=Ally] .card-frame {
  background-image: url('../images/frames/bain/ally.png');
}
.card[data-clan=Bain][data-type=Structure] .card-frame {
  background-image: url('../images/frames/bain/structure.png');
}
.card[data-clan=Bain][data-type=Event] .card-frame {
  background-image: url('../images/frames/bain/event.png');
}
.card[data-clan=Monzar][data-type=Ally] .card-frame {
  background-image: url('../images/frames/monzar/ally.png');
}
.card[data-clan=Monzar][data-type=Structure] .card-frame {
  background-image: url('../images/frames/monzar/structure.png');
}
.card[data-clan=Monzar][data-type=Event] .card-frame {
  background-image: url('../images/frames/monzar/event.png');
}
.card[data-clan=Ronmir][data-type=Ally] .card-frame {
  background-image: url('../images/frames/ronmir/ally.png');
}
.card[data-clan=Ronmir][data-type=Structure] .card-frame {
  background-image: url('../images/frames/ronmir/structure.png');
}
.card[data-clan=Ronmir][data-type=Event] .card-frame {
  background-image: url('../images/frames/ronmir/event.png');
}
.card[data-clan=Galmath][data-type=Ally] .card-frame {
  background-image: url('../images/frames/galmath/ally.png');
}
.card[data-clan=Galmath][data-type=Structure] .card-frame {
  background-image: url('../images/frames/galmath/structure.png');
}
.card[data-clan=Galmath][data-type=Event] .card-frame {
  background-image: url('../images/frames/galmath/event.png');
}
.card .card-part {
  position: absolute;
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  text-align: center;
}
.card .card-title {
  width: 202px;
  top: 20px;
  font-size: 18px;
  color: #000000;
}
.card .card-text {
  width: 202px;
  top: 200px;
  height: 90px;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  padding: 0 12px;
  margin: 0;
}
.card .card-image {
  width: 202px;
  position: absolute;
  top: 15px;
  z-index: -10;
}
.card .card-image img {
  width: 100%;
}
.card .arrow-right {
  background-image: url('../images/arrow-right.png');
  width: 16px;
  height: 10px;
  display: inline-block;
  background-position: 0 1px;
}
.card .card-icon {
  background-size: cover;
  display: inline-block;
  position: relative;
  height: 14px;
  width: 14px;
}
.card .card-icon.cost-icon {
  background-image: url('../images/card/icons/coin.png');
  top: 2px;
}
.card .card-icon.speed-icon {
  background-image: url('../images/card/icons/clock.png');
  top: 2px;
}
.card .card-icon.def-icon {
  background-image: url('../images/card/icons/def.png');
  width: 11px;
}
.card .card-icon.atk-icon {
  background-image: url('../images/card/icons/att.png');
}
.card .card-icon.weakness-icon {
  background-image: url('../images/card/icons/weakness.png');
}
.card .card-icon.pain-icon {
  background-image: url('../images/card/icons/pain.png');
  width: 13px;
  top: 1px;
}
.card .card-icon.health-icon {
  background-image: url('../images/card/icons/health.png');
  width: 11px;
  top: 1px;
}
.card .card-icon.strength-icon {
  background-image: url('../images/card/icons/strength.png');
}
.card .card-influence {
  top: 15%;
  left: 80%;
  width: 28px;
  font-size: 11px;
  color: #FFF;
  text-align: center;
  line-height: 18px;
}
.card .card-influence .influence {
  width: 28px;
  height: 27px;
}
.card .card-influence .influence.Bain {
  background: url('/asset/images/flag-bain-sm.png') no-repeat top left;
}
.card .card-influence .influence.Monzar {
  background: url('/asset/images/flag-monzar-sm.png') no-repeat top left;
}
.card .card-influence .influence.Ronmir {
  background: url('/asset/images/flag-ronmir-sm.png') no-repeat top left;
}
.card .card-influence .influence.Galmath {
  background: url('/asset/images/flag-galmath-sm.png') no-repeat top left;
}
.card .card-type {
  top: 13%;
  left: 31%;
  font-size: 11px;
  line-height: 11px;
  color: #FFF;
}
.card .card-stat {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  font-size: 22px;
  width: 42px;
  height: 42px;
  text-align: center;
  background-size: cover;
  line-height: 40px;
  font-weight: bold;
}
.card .card-stat.card-resources {
  top: 3px;
  left: 3px;
  background-image: url(/asset/images/card/icons/coin.png);
}
.card .card-stat.card-speed {
  top: 3px;
  right: 3px;
  background-image: url(/asset/images/card/icons/clock.png);
}
.card .card-stat.card-attack {
  bottom: 3px;
  left: 3px;
  width: 42px;
  height: 42px;
  background-image: url(/asset/images/card/icons/att.png);
  padding-right: 3px;
  line-height: 38px;
}
.card .card-stat.card-defence {
  bottom: 3px;
  right: 3px;
  width: 38px;
  height: 48px;
  text-align: center;
  background-image: url(/asset/images/card/icons/def.png);
  line-height: 50px;
  padding-left: 1px;
}
.card .tooltip {
  z-index: 100;
}
a.card {
  color: #CCC;
}
#card-detail {
  min-height: 420px;
}
#card-detail > img {
  position: absolute;
}
#card-values {
  padding-left: 310px;
}
#cardgrid .card-deck-button {
  position: absolute;
  bottom: 130px;
  display: none;
}
#cardgrid .card-deck-button.add-card {
  right: 15px;
}
#cardgrid .card-deck-button.remove-card {
  left: 15px;
}
#cardgrid .card-deck-button.multiple {
  bottom: 90px;
}
.card-deck-button {
  cursor: pointer;
}
#mydeck {
  overflow: hidden;
}
.decklist tr {
  background-repeat: repeat-x;
  background-position: top left;
  color: #000;
  font-family: 'Ubuntu Condensed', sans-serif;
}
.decklist tr td {
  padding: 10px 5px 0 5px;
}
.decklist tr.Artifact {
  background-image: url('/asset/images/artifact_bg.jpg');
}
.decklist tr.Galmath {
  background-color: #cfcfcf;
  border-top: 2px solid #4c4c4c;
}
.decklist tr.Ronmir {
  background-color: #e2c9c5;
  border-top: 2px solid #a9764f;
}
.decklist tr.Monzar {
  background-color: #fbdaeb;
  border-top: 2px solid #c25b70;
}
.decklist tr.Bain {
  background-color: #daeefb;
  border-top: 2px solid #5b7bc2;
}
.deck-card {
  height: 30px;
}
.deck-card-image {
  height: 30px;
  width: 155px;
  background-repeat: no-repeat;
  background-position: -12px -6px;
  margin-bottom: 5px;
  float: left;
}
.deck-card-quantity {
  float: right;
  margin-top: 9px;
  color: #FFFFFF;
}
.deck-links {
  float: right;
  font-size: 12px;
}
/*
.cardcell.large.last, .cardcell.large.last > .card {
    width: 225px;
    height: 313px;
}*/
/*.card.full .influence {
    width: 37px;
    height: 35px;
}
.card.full .influence.Bain {
    background: url('/asset/images/flag-bain.png') no-repeat top left;
}
.card.full .influence.Monzar {
    background: url('/asset/images/flag-monzar.png') no-repeat top left;
}
.card.full .influence.Ronmir {
    background: url('/asset/images/flag-ronmir.png') no-repeat top left;
}
.card.full .influence.Galmath {
    background: url('/asset/images/flag-galmath.png') no-repeat top left;
}*/