#cardgrid {
    clear: both;
}
#card-grid-loading-bar {
    display: none;
}
.cardcell {
    float: left;
    width: 165px;
    height: 230px;
    margin: 0px 10px 15px 0px;
    border: 1px solid #353535;
    position: relative;
}
.cardcell.last {
    margin-right: 0px;
}
.card {
    display: block;
    background-size: 100%;
    background-position: 0% 38%;
    background-repeat: no-repeat;
    width: 165px;
    height: 230px;
    position: relative;
    background-color: #000;
}
.cardcell.large, .cardcell.large .card {
    width: 224px;
    height: 312px;
}
.cardcell.large.last, .cardcell.large.last > .card {
    width: 225px;
    height: 313px;
}
.card.full {
    width: 300px;
    height: 418px;
}
.card.small {
    width: 175px;
    height: 244px;
}
.card .card-part {
    position: absolute;
    /*opacity: 0;*/
}
/*.card:hover .card-part {
    opacity: 1;
}*/
.card .card-title {
    top: 1.5%;
    left: 9%;
    font-size: 14px;
}
.card.full .card-title {
    font-size: 18px;
    top: 3%;
}
.card.small .card-title {
    font-size: 13px;
    top: 0px;
}
.card .card-text {
    left: 9%;
    top: 73%;
    width: 82%;
    height: 22%;
    overflow-y: auto;
    font-size: 10px;
    line-height: 14px;
}
.card.full .card-text {
    font-size: 14px;
    line-height: 18px;
}
.card.small .card-text {
    font-size: 9px;
    line-height: 13px;
}
.card .card-stats {
    top: 65.5%;
    left: 20%;
    width: 60%;
    height: 4%;
    color: #fff;
    font-size: 10px;
}
.card.full .card-stats {
    top: 66%;
    font-size: 14px;
}
.card.small .card-stats {
    top: 64.5%;
    font-size: 9px;
}
.card .card-stats .card-attack {
    float: left;
}
.card .card-stats .card-defence {
    float: right;
    text-align: right;
}
.card .card-influence {
    top: 15%;
    left: 80%;
    width: 28px;
    font-size: 11px;
    color: #FFF;
    text-align: center;
    line-height: 18px;
}
.card.small .card-influence {
    left: 77%;
}
.influence {
    width: 28px;
    height: 27px;
}
.influence.Bain {
    background: url('/asset/images/flag-bain-sm.png') no-repeat top left;
}
.influence.Monzar {
    background: url('/asset/images/flag-monzar-sm.png') no-repeat top left;
}
.influence.Ronmir {
    background: url('/asset/images/flag-ronmir-sm.png') no-repeat top left;
}
.influence.Galmath {
    background: url('/asset/images/flag-galmath-sm.png') no-repeat top left;
}
.card.full .card-influence {
    top: 14%;
    left: 81%;
}
/*.card.full .influence {
    width: 37px;
    height: 35px;
}
.card.full .influence.Bain {
    background: url('/asset/images/flag-bain.png') no-repeat top left;
}
.card.full .influence.Monzar {
    background: url('/asset/images/flag-monzar.png') no-repeat top left;
}
.card.full .influence.Ronmir {
    background: url('/asset/images/flag-ronmir.png') no-repeat top left;
}
.card.full .influence.Galmath {
    background: url('/asset/images/flag-galmath.png') no-repeat top left;
}*/
.card .card-type {
    top: 13%;
    left: 31%;
    font-size: 11px;
    line-height: 11px;
    color: #FFF;
}
.card.full .card-type {
    font-size: 14px;
    top: 13.6%;
}
.card .card-resources {
    top: 5.5%;
    left: 80%;
    font-size: 14px;
    color: #FFF;
    width: 11.5%;
    height: 4.7%;
    background: rgba(0,0,0,0.4);
    text-align: center;
    line-height: 14px;
    border-top: 1px solid #787878;
    border-left: 1px solid #787878;
    border-bottom: 1px solid #464646;
    border-right: 1px solid #464646;
}
.card.full .card-resources {
    font-size: 18px;
    line-height: 18px;
}
.card.small .card-resources {
    font-size: 13px;
    line-height: 12px;
}
a.card {
    color: #CCC;
}
.inactive .card {
    display: none;
}
#card-detail {
    min-height: 420px;
}
#card-detail > img {
    position: absolute;
}
#card-values {
    padding-left: 310px;
}
#cardgrid .card-deck-button {
    position: absolute;
    bottom: 130px;
    display: none;
}
#cardgrid .card-deck-button.add-card {
    left: 15px;
}
#cardgrid .card-deck-button.remove-card {
    right: 15px;
}
#cardgrid .card-deck-button.multiple {
    bottom: 90px;
}
.card-deck-button {
    cursor: pointer;
}
#mydeck {
    overflow: hidden;
}
.decklist tr {
    background-repeat: repeat-x;
    background-position: top left;
}
.decklist tr.Artifact {
    background-image: url('/asset/images/artifact_bg.jpg');
}
.decklist tr.Galmath {
    background-image: url('/asset/images/blood_bg.jpg');
}
.decklist tr.Ronmir {
    background-image: url('/asset/images/artifact_bg.jpg');
}
/*.decklist tr.Diamond {
    background-image: url('/asset/images/diamond_bg.jpg');
}*/
.decklist tr.Monzar {
    background-image: url('/asset/images/ruby_bg.jpg');
}
.decklist tr.Bain {
    background-image: url('/asset/images/sapphire_bg.jpg');
}
.decklist tr td {
    padding: 10px 5px 0px 5px;
}
.deck-card {
    height: 30px;
}
.deck-card-image {
    height: 30px;
    width: 155px;
    background-repeat: no-repeat;
    background-position: -12px -6px;
    margin-bottom: 5px;
    float: left;
}
.deck-card-quantity {
    float: right;
    margin-top: 9px;
    color: #FFFFFF;
}
.deck-links {
    float: right;
    font-size: 12px;
}