.chat-box #chat-text {
  max-width: 100%;
}
.chat-box .chat {
  height: 200px;
  overflow-y: auto;
  margin: 0px;
  font-size: 12px;
}
.chat-box .chat li {
  padding: 2px 0px;
  line-height: 12px;
}
.chat-box .chat .chat-row .chat-author {
  font-weight: bold;
  display: inline;
}
.chat-box .chat .chat-row .chat-message {
  display: inline;
}
.chat-box .chat .chat-row.error {
  color: red;
}
/*# sourceMappingURL=chat.css.map */