﻿body {
  overflow: hidden;
  background: #052914;
}
#readytoplay {
  width: 300px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
  z-index: 100;
  background: white;
  border: 2px solid black;
  text-align: center;
  padding-top: 60px;
}
#game {
  opacity: 0.3;
  width: 1000px;
  height: 750px;
  overflow: hidden;
  background: #cacaca url('/asset/images/bgs/bg_wood.jpg') repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -375px;
  margin-left: -500px;
  user-select: none;
}
#game #clock .clock {
  background: #fff url(/asset/images/clock-face.svg) no-repeat center;
  background-size: 95%;
  width: 112px;
  height: 112px;
}
#game .zone {
  text-align: center;
}
#game .zone .card {
  /*transform: scale(0.625263);
            margin-right: -95.1832px;
            margin-bottom: -128.16px;*/
}
#game .zone .card-render {
  display: inline-block;
}
#game #inPlaySection {
  padding: 10px 0;
}
#game #inPlaySection .play {
  height: 215px;
  display: flex;
}
#game #inPlaySection .play .playSlot {
  height: 215px;
  width: 154px;
  margin: 0 5px;
  background-image: url(/asset/images/stone-bg2.jpg);
  background-size: cover;
  z-index: 0;
  position: relative;
}
#game #inPlaySection .play .playSlot.highlighted::after {
  content: "";
  background: rgba(45, 88, 35, 0.51);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
#game #inPlaySection .play .playSlot.valid {
  outline: 1px solid green;
}
#game #inPlaySection .play .playSlot.invalid::after {
  content: "";
  background: rgba(88, 35, 35, 0.51);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
#game #inPlaySection .play.me {
  margin-top: 10px;
}
#game .playerSection {
  height: 145px;
  display: flex;
}
#game .playerSection .playerStatus {
  background-image: url(/asset/images/stone-bg.jpg);
  background-size: cover;
  width: 236px;
  display: flex;
  padding: 15px 10px;
}
#game .playerSection .playerStatus .playerOptions {
  width: 126px;
}
#game .playerSection .playerStatus .playerOptions #drawCardButton {
  position: relative;
  padding-right: 28px;
}
#game .playerSection .playerStatus .playerOptions #drawCardButton .amount {
  background-image: url(/asset/images/card/icons/resource.jpg);
  background-repeat: no-repeat;
  background-position: top left;
  height: 17px;
  width: 17px;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  right: 4px;
  top: 7px;
  font-size: 13px;
}
#game .playerSection .playerStatus .playerOptions #chat-container {
  margin-bottom: 10px;
}
#game .playerSection .playerStatus .playerOptions #chat-container .chat-box {
  padding: 10px 15px;
  width: 20vw;
  min-width: 160px;
}
#game .playerSection .playerStatus .playerOptions #chat-container .chat-box .chat {
  height: 30vh;
}
#game .playerSection .playerStatus .aboutPlayer {
  width: 110px;
}
#game .playerSection .playerStatus .aboutPlayer .playerName {
  color: white;
  font-size: 14px;
  text-align: center;
}
#game .playerSection .playerStatus .aboutPlayer .playerStats .playerLife {
  background-image: url('/asset/images/card/icons/def.png');
  background-size: cover;
  width: 35px;
  height: 44px;
  text-align: center;
  color: white;
  padding-top: 12px;
  margin: auto;
  margin-bottom: 10px;
}
#game .playerSection .playerStatus .aboutPlayer .playerStats .playerResources {
  background-image: url('/asset/images/card/icons/coin.png');
  background-size: cover;
  width: 36px;
  height: 36px;
  color: black;
  margin: auto;
  text-align: center;
  padding-top: 7px;
}
#game .playerSection .playerStatus .gameClock {
  width: 126px;
}
#game .playerSection .deck {
  background: url('/asset/images/card/clans-cardback.jpg') no-repeat top left;
  background-size: cover;
  height: 185px;
  width: 132px;
  position: relative;
  z-index: 20;
}
#game .playerSection .deck .deckSize {
  top: 60%;
  position: absolute;
  margin-left: -10px;
}
#game .playerSection .deck.opponent {
  top: -40px;
}
#game .playerSection .hand {
  width: 660px;
  padding: 0 10px;
  z-index: 30;
}
#game .playerSection .hand.opponent .card-render {
  top: -60px;
  position: relative;
}
#game .playerSection .hand .card-render.validToPlay .card-frame {
  outline: 2px solid green;
}
#game .playerSection .hand.me[data-size="3"] .card-render:nth-child(1) {
  transform: rotateZ(-10deg) translateY(6%) translateX(1%);
}
#game .playerSection .hand.me[data-size="3"] .card-render:nth-child(3) {
  transform: rotateZ(10deg) translateY(6%) translateX(1%);
}
#game .playerSection .hand.me[data-size="4"] .card-render {
  margin-left: -3%;
  margin-right: -3%;
}
#game .playerSection .hand.me[data-size="4"] .card-render:nth-child(1) {
  transform: rotateZ(-20deg) translateY(12%) translateX(2%);
}
#game .playerSection .hand.me[data-size="4"] .card-render:nth-child(2) {
  transform: rotateZ(-10deg) translateY(6%) translateX(1%);
}
#game .playerSection .hand.me[data-size="4"] .card-render:nth-child(3) {
  transform: rotateZ(10deg) translateY(6%) translateX(1%);
}
#game .playerSection .hand.me[data-size="4"] .card-render:nth-child(4) {
  transform: rotateZ(20deg) translateY(12%) translateX(2%);
}
#game .playerSection .hand.me[data-size="5"] .card-render {
  margin-left: -4%;
  margin-right: -4%;
}
#game .playerSection .hand.me[data-size="5"] .card-render:nth-child(1) {
  transform: rotateZ(-20deg) translateY(12%) translateX(2%);
}
#game .playerSection .hand.me[data-size="5"] .card-render:nth-child(2) {
  transform: rotateZ(-10deg) translateY(6%) translateX(1%);
}
#game .playerSection .hand.me[data-size="5"] .card-render:nth-child(4) {
  transform: rotateZ(10deg) translateY(6%) translateX(1%);
}
#game .playerSection .hand.me[data-size="5"] .card-render:nth-child(5) {
  transform: rotateZ(20deg) translateY(12%) translateX(2%);
}
#game .playerSection .hand.me[data-size="6"] .card-render {
  margin-left: -5%;
  margin-right: -5%;
}
#game .playerSection .hand.me[data-size="6"] .card-render:nth-child(1) {
  transform: rotateZ(-30deg) translateY(18%) translateX(3%);
}
#game .playerSection .hand.me[data-size="6"] .card-render:nth-child(2) {
  transform: rotateZ(-20deg) translateY(12%) translateX(2%);
}
#game .playerSection .hand.me[data-size="6"] .card-render:nth-child(3) {
  transform: rotateZ(-10deg) translateY(6%) translateX(1%);
}
#game .playerSection .hand.me[data-size="6"] .card-render:nth-child(4) {
  transform: rotateZ(10deg) translateY(6%) translateX(1%);
}
#game .playerSection .hand.me[data-size="6"] .card-render:nth-child(5) {
  transform: rotateZ(20deg) translateY(12%) translateX(2%);
}
#game .playerSection .hand.me[data-size="6"] .card-render:nth-child(6) {
  transform: rotateZ(30deg) translateY(18%) translateX(3%);
}
#game .playerSection .hand.me[data-size="7"] .card-render {
  margin-left: -6%;
  margin-right: -6%;
}
#game .playerSection .hand.me[data-size="7"] .card-render:nth-child(1) {
  transform: rotateZ(-30deg) translateY(18%) translateX(3%);
}
#game .playerSection .hand.me[data-size="7"] .card-render:nth-child(2) {
  transform: rotateZ(-20deg) translateY(12%) translateX(2%);
}
#game .playerSection .hand.me[data-size="7"] .card-render:nth-child(3) {
  transform: rotateZ(-10deg) translateY(6%) translateX(1%);
}
#game .playerSection .hand.me[data-size="7"] .card-render:nth-child(5) {
  transform: rotateZ(10deg) translateY(6%) translateX(1%);
}
#game .playerSection .hand.me[data-size="7"] .card-render:nth-child(6) {
  transform: rotateZ(20deg) translateY(12%) translateX(2%);
}
#game .playerSection .hand.me[data-size="7"] .card-render:nth-child(7) {
  transform: rotateZ(30deg) translateY(18%) translateX(3%);
}
#game .playerSection .hand.me[data-size="8"] .card-render {
  margin-left: -7%;
  margin-right: -7%;
}
#game .playerSection .hand.me[data-size="8"] .card-render:nth-child(1) {
  transform: rotateZ(-40deg) translateY(24%) translateX(4%);
}
#game .playerSection .hand.me[data-size="8"] .card-render:nth-child(2) {
  transform: rotateZ(-30deg) translateY(18%) translateX(3%);
}
#game .playerSection .hand.me[data-size="8"] .card-render:nth-child(3) {
  transform: rotateZ(-20deg) translateY(12%) translateX(2%);
}
#game .playerSection .hand.me[data-size="8"] .card-render:nth-child(4) {
  transform: rotateZ(-10deg) translateY(6%) translateX(1%);
}
#game .playerSection .hand.me[data-size="8"] .card-render:nth-child(5) {
  transform: rotateZ(10deg) translateY(6%) translateX(1%);
}
#game .playerSection .hand.me[data-size="8"] .card-render:nth-child(6) {
  transform: rotateZ(20deg) translateY(12%) translateX(2%);
}
#game .playerSection .hand.me[data-size="8"] .card-render:nth-child(7) {
  transform: rotateZ(30deg) translateY(18%) translateX(3%);
}
#game .playerSection .hand.me[data-size="8"] .card-render:nth-child(8) {
  transform: rotateZ(40deg) translateY(24%) translateX(4%);
}
#game .playerSection .hand.me[data-size="9"] .card-render {
  margin-left: -8%;
  margin-right: -8%;
}
#game .playerSection .hand.me[data-size="9"] .card-render:nth-child(1) {
  transform: rotateZ(-40deg) translateY(24%) translateX(4%);
}
#game .playerSection .hand.me[data-size="9"] .card-render:nth-child(2) {
  transform: rotateZ(-30deg) translateY(18%) translateX(3%);
}
#game .playerSection .hand.me[data-size="9"] .card-render:nth-child(3) {
  transform: rotateZ(-20deg) translateY(12%) translateX(2%);
}
#game .playerSection .hand.me[data-size="9"] .card-render:nth-child(4) {
  transform: rotateZ(-10deg) translateY(6%) translateX(1%);
}
#game .playerSection .hand.me[data-size="9"] .card-render:nth-child(6) {
  transform: rotateZ(10deg) translateY(6%) translateX(1%);
}
#game .playerSection .hand.me[data-size="9"] .card-render:nth-child(7) {
  transform: rotateZ(20deg) translateY(12%) translateX(2%);
}
#game .playerSection .hand.me[data-size="9"] .card-render:nth-child(8) {
  transform: rotateZ(30deg) translateY(18%) translateX(3%);
}
#game .playerSection .hand.me[data-size="9"] .card-render:nth-child(9) {
  transform: rotateZ(40deg) translateY(24%) translateX(4%);
}
#game .playerSection .hand.opponent[data-size="3"] .card-render:nth-child(1) {
  transform: rotateZ(10deg) translateY(-6%) translateX(-1%);
}
#game .playerSection .hand.opponent[data-size="3"] .card-render:nth-child(3) {
  transform: rotateZ(-10deg) translateY(-6%) translateX(-1%);
}
#game .playerSection .hand.opponent[data-size="4"] .card-render {
  margin-left: -3%;
  margin-right: -3%;
}
#game .playerSection .hand.opponent[data-size="4"] .card-render:nth-child(1) {
  transform: rotateZ(20deg) translateY(-12%) translateX(-2%);
}
#game .playerSection .hand.opponent[data-size="4"] .card-render:nth-child(2) {
  transform: rotateZ(10deg) translateY(-6%) translateX(-1%);
}
#game .playerSection .hand.opponent[data-size="4"] .card-render:nth-child(3) {
  transform: rotateZ(-10deg) translateY(-6%) translateX(-1%);
}
#game .playerSection .hand.opponent[data-size="4"] .card-render:nth-child(4) {
  transform: rotateZ(-20deg) translateY(-12%) translateX(-2%);
}
#game .playerSection .hand.opponent[data-size="5"] .card-render {
  margin-left: -4%;
  margin-right: -4%;
}
#game .playerSection .hand.opponent[data-size="5"] .card-render:nth-child(1) {
  transform: rotateZ(20deg) translateY(-12%) translateX(-2%);
}
#game .playerSection .hand.opponent[data-size="5"] .card-render:nth-child(2) {
  transform: rotateZ(10deg) translateY(-6%) translateX(-1%);
}
#game .playerSection .hand.opponent[data-size="5"] .card-render:nth-child(4) {
  transform: rotateZ(-10deg) translateY(-6%) translateX(-1%);
}
#game .playerSection .hand.opponent[data-size="5"] .card-render:nth-child(5) {
  transform: rotateZ(-20deg) translateY(-12%) translateX(-2%);
}
#game .playerSection .hand.opponent[data-size="6"] .card-render {
  margin-left: -5%;
  margin-right: -5%;
}
#game .playerSection .hand.opponent[data-size="6"] .card-render:nth-child(1) {
  transform: rotateZ(30deg) translateY(-18%) translateX(-3%);
}
#game .playerSection .hand.opponent[data-size="6"] .card-render:nth-child(2) {
  transform: rotateZ(20deg) translateY(-12%) translateX(-2%);
}
#game .playerSection .hand.opponent[data-size="6"] .card-render:nth-child(3) {
  transform: rotateZ(10deg) translateY(-6%) translateX(-1%);
}
#game .playerSection .hand.opponent[data-size="6"] .card-render:nth-child(4) {
  transform: rotateZ(-10deg) translateY(-6%) translateX(-1%);
}
#game .playerSection .hand.opponent[data-size="6"] .card-render:nth-child(5) {
  transform: rotateZ(-20deg) translateY(-12%) translateX(-2%);
}
#game .playerSection .hand.opponent[data-size="6"] .card-render:nth-child(6) {
  transform: rotateZ(-30deg) translateY(-18%) translateX(-3%);
}
#game .playerSection .hand.opponent[data-size="7"] .card-render {
  margin-left: -6%;
  margin-right: -6%;
}
#game .playerSection .hand.opponent[data-size="7"] .card-render:nth-child(1) {
  transform: rotateZ(30deg) translateY(-18%) translateX(-3%);
}
#game .playerSection .hand.opponent[data-size="7"] .card-render:nth-child(2) {
  transform: rotateZ(20deg) translateY(-12%) translateX(-2%);
}
#game .playerSection .hand.opponent[data-size="7"] .card-render:nth-child(3) {
  transform: rotateZ(10deg) translateY(-6%) translateX(-1%);
}
#game .playerSection .hand.opponent[data-size="7"] .card-render:nth-child(5) {
  transform: rotateZ(-10deg) translateY(-6%) translateX(-1%);
}
#game .playerSection .hand.opponent[data-size="7"] .card-render:nth-child(6) {
  transform: rotateZ(-20deg) translateY(-12%) translateX(-2%);
}
#game .playerSection .hand.opponent[data-size="7"] .card-render:nth-child(7) {
  transform: rotateZ(-30deg) translateY(-18%) translateX(-3%);
}
#game .playerSection .hand.opponent[data-size="8"] .card-render {
  margin-left: -7%;
  margin-right: -7%;
}
#game .playerSection .hand.opponent[data-size="8"] .card-render:nth-child(1) {
  transform: rotateZ(40deg) translateY(-24%) translateX(-4%);
}
#game .playerSection .hand.opponent[data-size="8"] .card-render:nth-child(2) {
  transform: rotateZ(30deg) translateY(-18%) translateX(-3%);
}
#game .playerSection .hand.opponent[data-size="8"] .card-render:nth-child(3) {
  transform: rotateZ(20deg) translateY(-12%) translateX(-2%);
}
#game .playerSection .hand.opponent[data-size="8"] .card-render:nth-child(4) {
  transform: rotateZ(10deg) translateY(-6%) translateX(-1%);
}
#game .playerSection .hand.opponent[data-size="8"] .card-render:nth-child(5) {
  transform: rotateZ(-10deg) translateY(-6%) translateX(-1%);
}
#game .playerSection .hand.opponent[data-size="8"] .card-render:nth-child(6) {
  transform: rotateZ(-20deg) translateY(-12%) translateX(-2%);
}
#game .playerSection .hand.opponent[data-size="8"] .card-render:nth-child(7) {
  transform: rotateZ(-30deg) translateY(-18%) translateX(-3%);
}
#game .playerSection .hand.opponent[data-size="8"] .card-render:nth-child(8) {
  transform: rotateZ(-40deg) translateY(-24%) translateX(-4%);
}
#game .playerSection .hand.opponent[data-size="9"] .card-render {
  margin-left: -8%;
  margin-right: -8%;
}
#game .playerSection .hand.opponent[data-size="9"] .card-render:nth-child(1) {
  transform: rotateZ(40deg) translateY(-24%) translateX(-4%);
}
#game .playerSection .hand.opponent[data-size="9"] .card-render:nth-child(2) {
  transform: rotateZ(30deg) translateY(-18%) translateX(-3%);
}
#game .playerSection .hand.opponent[data-size="9"] .card-render:nth-child(3) {
  transform: rotateZ(20deg) translateY(-12%) translateX(-2%);
}
#game .playerSection .hand.opponent[data-size="9"] .card-render:nth-child(4) {
  transform: rotateZ(10deg) translateY(-6%) translateX(-1%);
}
#game .playerSection .hand.opponent[data-size="9"] .card-render:nth-child(6) {
  transform: rotateZ(-10deg) translateY(-6%) translateX(-1%);
}
#game .playerSection .hand.opponent[data-size="9"] .card-render:nth-child(7) {
  transform: rotateZ(-20deg) translateY(-12%) translateX(-2%);
}
#game .playerSection .hand.opponent[data-size="9"] .card-render:nth-child(8) {
  transform: rotateZ(-30deg) translateY(-18%) translateX(-3%);
}
#game .playerSection .hand.opponent[data-size="9"] .card-render:nth-child(9) {
  transform: rotateZ(-40deg) translateY(-24%) translateX(-4%);
}
#game #wait {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  text-align: center;
  color: white;
  font-size: 40px;
  padding-top: 30%;
}
.well {
  padding: 0;
}
.well .well-inner {
  padding: 10px 20px;
}
.ui-draggable-dragging {
  pointer-events: none;
}
/* Card hover */
.card-render {
  transition: transform 140ms;
  z-index: 200;
  position: relative;
}
.hand.me .card-render:hover,
.hand.me .card-render.dragging {
  transform: scale(1.35) translateY(-45%) !important;
  z-index: 300;
}
.play .card-render:hover,
.play .card-render.dragging {
  transform: scale(1.25);
  z-index: 300;
}
/* svg */
svg {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 9999;
  pointer-events: none;
}
svg .targetArrow {
  stroke-dasharray: 10;
  animation: dash 1.2s linear;
  animation-iteration-count: infinite;
}
@keyframes dash {
  to {
    stroke-dashoffset: -100;
  }
}
/* large screen sizes */
@media (min-height: 1080px) and (min-width: 1440px) {
  #game {
    height: 1080px;
    width: 1440px;
    margin-top: -540px;
    margin-left: -720px;
  }
  #game #clock .clock {
    width: 156px;
    height: 156px;
  }
  #game #inPlaySection .play {
    height: 312px;
  }
  #game #inPlaySection .play .playSlot {
    height: 312px;
    width: 224px;
  }
  #game .playerSection {
    height: 213px;
  }
  #game .playerSection .deck {
    height: 266px;
    width: 190px;
  }
  #game .playerSection .deck.opponent {
    top: -55px;
  }
  #game .playerSection .playerStatus {
    width: 340px;
  }
  #game .playerSection .playerStatus .playerOptions {
    width: 160px;
  }
  #game .playerSection .playerStatus .playerOptions #drawCardButton {
    padding-right: 30px;
  }
  #game .playerSection .playerStatus .aboutPlayer {
    width: 160px;
  }
  #game .playerSection .playerStatus .aboutPlayer .playerName {
    font-size: 16px;
    margin-bottom: 10px;
  }
  #game .playerSection .playerStatus .aboutPlayer .playerStats .playerLife {
    width: 39px;
    height: 50px;
    padding-top: 14px;
    font-size: 15px;
  }
  #game .playerSection .playerStatus .aboutPlayer .playerStats .playerResources {
    width: 40px;
    height: 40px;
    padding-top: 8px;
    font-size: 15px;
  }
  #game .playerSection .playerStatus .gameClock {
    width: 180px;
  }
  #game .playerSection .hand {
    width: 880px;
  }
  #game .playerSection .hand.opponent .card-render {
    top: -85px;
  }
  .hand.me .card-render:hover,
  .hand.me .card-render.dragging {
    transform: scale(1.25) translateY(-40%) !important;
  }
}