body {
    overflow: hidden;
    padding-top: 1vh;
    background: #cacaca url('/asset/images/bgs/bg_wood.jpg') repeat;
}

.gameSection {
    /*height: 97vh;*/
}

.gameContainer {
    border-radius: 4px;
    /*border: 3px solid rgba(126, 126, 126, 0.5);*/
}

#chat-container {
    position: absolute;
    top: 20px;
    right: 10px;
}

.chat-box {
    padding: 10px 15px;
    width: 20vw;
    min-width: 160px;
}

.chat-box .chat {
    height: 30vh;
}

#board {
    margin-top: -80px;
}

.boardRow {

}

.boardRow .zone {
    height: 19.2vh;
    border: 1px solid #1d1d1d;
}

.well {
    padding: 0px;
}

.well .well-inner {
    padding: 10px 20px;
}

.zone.deck {
    position: absolute;
    left: 2vw;
    background: url('/asset/images/card/clans-cardback.jpg') no-repeat top left;
    background-size: 13.2vh 18.4vh;
    height: 19.2vh;
    width: 13.8vh;
}

.zone.deck.player {
    bottom: 3vh;
}

.zone.deck.opponent {
    top: -1vh;
}

.zone {
    background: rgba(126, 126, 126, 0.5);
    text-align: center;
}

/* card hover */

.zone .card-render {
    height: 19.2vh;
    /*transition: all 220ms ease-in;*/
    transform: scale(1);
    transition: transform 200ms ease-in;
    z-index: 50;
    position: relative;
}

.notransition {
    transition: none !important;
}

//.zone .card-render:hover/*:not(.clicked)*/:not(.facedown):not(.ui-draggable-dragging)/*, .zone .card-render.clicked*/ {
//    box-shadow: 0px 0px 150px #000000;
//    z-index: 100;
//    transition: all 110ms ease-in;
 //   transform: scale(1.8);
//}

//.zone.hand .card-render:hover/*:not(.clicked)*/:not(.facedown):not(.ui-draggable-dragging)/*, .zone.hand .card-render.clicked*/ {
//    top: -11.5vh;
//}

.zone.hand {
    background: none;
}

.zone.highlighted {
    background: rgba(117, 165, 109, 0.6);
}

.zone.invalid {
    background: rgba(169, 85, 85, 0.6);
}

/* clicking */

img.card-render.clicked, .zone.valid {
    border: 1px solid green;
}

img.card-render.ui-draggable-dragging {
    pointer-events: none;
}
/*
img.card-render.clicked {
    opacity: 0.7;
    transition: none !important;
    position: absolute;
    pointer-events: none;
}*/

/* Player stats*/
#gameStatus {
    padding-right: 0px;
    height: 103vh;
    position: relative;
}
.playerStats {
    width: 100%;
}
.playerStats.player {
    position: absolute;
    bottom: 23vh;
}

.playerStats.opponent {
    position: absolute;
    top: 18vh;
}

.playerName {
    margin: 15px 0px;
    font-size: 130%;
    font-weight: bold;
    color: #ffffff;
}

.playerLife {
    background-image: url('/asset/images/card/icons/def.png');
    width: 46px;
    height: 60px;
    text-align: center;
    color: white;
    padding-top: 20px;
    margin: auto;
}

.playerResources {
    background-image: url('/asset/images/card/icons/resource-large.jpg');
    width: 46px;
    height: 46px;
    color: white;
    margin: auto;
    text-align: center;
    padding-top: 13px;
}

#gameTimer {
    color: #FFFFFF;
    position: absolute;
    top: 46vh;
}

#gameTimer #tickProgress {
    height: 50px;
    width: 50px;
    position: relative;
    background: #cccccc;
    padding: 0px;
}

#gameTimer #tickProgress .bar {
    width: 100%;
    height: 0%;
    background: green;
    position: absolute;
    bottom: 0px;
    transition: height 50ms;
}

.deckSize {
    text-align: center;
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    bottom: 60px;
    left: 51px;
}