body {
    background: #cacaca;
}
#main {
    margin-top: 30px;
}
body.thin {
    padding: 10px 35px;
    left: 0px;
}
.container-fluid {
}
.side-heading {
    padding: 18px 20px;
}
.panel-smart {
    padding: 10px;
}
.dropdown-menu label {
    color: #fff;
}
body.thin .container {
    left: 0px;
}
.leftbar {
    width: 220px;
    position: fixed;
    top: 70px;
    left: 0px;
}
.rightbar {
    width: 180px;
    position: fixed;
    top: 70px;
    right: 0px;
    text-align: right;
}
.main {
    padding: 0px 175px 0px 240px;
}
.main.grid {
    padding-right: 165px;
}
#main-menu-left {
    margin-left: 87px;
}
#page {
    padding-left: 0px;
    padding-right: 0px;
}
#page.toolbox {
}   
#toolbox button {
    font-size: 12px;
    padding: 3px 8px;
}
table th, table td {
    overflow: hidden;
}
.down {
    color: red;
}
.up {
    color: green;
}
.down-arrow, .up-arrow {
    margin-left: 3px;
    width: 13px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
}
#datatable_wrapper {
    display: none;
    overflow: hidden;
    position: relative;
}
#datatable_wrapper .paging_full_numbers .ui-button {
    color: #FFF !important;
}
#datatable_filter {
    float: left;
}
#datatable_filter input {
    height: 20px;
    width: 110px;
}
#datatable_filter a {
    cursor: pointer;
}
#card-filters #filter-text-box {
    margin-left: 0px;
}
#datatable_processing {
    width: 255px;
    position: absolute;
    top: 170px;
    left: 160px;
    opacity: 0.7;
    z-index: 10000;
}
#datatable_wrapper button.btn {
    margin-left: 10px;
    float: right;
}
table#datatable {
    font-size: 14px;
}
table#datatable td, table#datatable th {
    padding: 3px 4px;
}
a.dropdown-toggle {
    cursor: pointer;
}
#toolbox {
    /*background: #222;*/
    padding: 7px 10px;
    border-top: 0px;
    margin-bottom: 10px;
    background-color: #020202;
    background-image: -moz-linear-gradient(top,#020202,#020202);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#020202),to(#020202));
    background-image: -webkit-linear-gradient(top,#020202,#020202);
    background-image: -o-linear-gradient(top,#020202,#020202);
    background-image: linear-gradient(to bottom,#020202,#020202);
    background-repeat: repeat-x;
    border: 1px solid #000;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff020202',endColorstr='#ff020202',GradientType=0);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    border-top: solid 1px #2f2f2f;
}
#card-filters {
    margin: 0px;
}
#card-filters > div {
    float: left;
    margin: 0px 5px;
}
#toolbox > a {
    margin-top: 3px;
    margin-left: 8px;
    float: left;
    font-size: 12px;
}
#grid-count {
    float: right;
    font-size: 12px;
    margin-top: 3px;
}
.table-filters {
    float: left;
}
.table-filters label {
    float: left;
    margin: 0px;
    margin-top: 5px;
    padding: 5px;
    margin-right: 10px;
    cursor: default;
}
#filter-text-box .add-on {
    height: 20px;
    cursor: pointer;
}
#card-sort {
    margin-left: 5px;
}
.table-filter input[type="checkbox"], .table-filter input[type="radio"] {
    position: relative;
    top: -3px;
    left: -3px;
}
.table-filter.filter-active > a:after, .table-filter.filter-active > a {
    border-left-color: #FFF;
    color: #FFF;
}
#donate {
    padding-top: 10px;
    text-align: center;
}
#donate form {
    margin: 0px;
}
#donate input {
    border: 0px;
}
.well.left_a {
    padding: 15px 0px;
    text-align: center;
}
#login {
    position: absolute;
    top: 10px;
    right: 0px;
    border: 1px solid #000;
    padding: 0px 5px;
    background: #E2E4FF;
    font: 10px arial,sans-serif;
}
tr.highlight {
    background: #0972a5 url(images/ui-bg_highlight-hard_20_0972a5_1x100.png) 50% 50% repeat-x;
    color: #FFF;
}
tr.highlight a {
    color: #FFF;
}
.dropdown-menu>li.openid {
    padding: 5px 5px 5px 35px;
}
.openid.steam {
    background: url('/asset/images/openids/steam.png') no-repeat 5px 5px;
}
.openid.google {
    background: url('/asset/images/openids/google.png') no-repeat 5px 5px;
}
.openid.twitter {
    background: url('/asset/images/openids/twitter.png') no-repeat 5px 5px;
}
.team {
    float: left;
    width: 68px;
    border-right: 1px dotted #343434;
    padding: 0px 10px;
}
.team.twoplayer {
    width: 155px;
}
.team.wide {
    width: 175px;
    padding: 0px;
}
.team-chunk {
    float: left;
    padding-left: 10px;
}
.team-chunk .player {
    width: 65px;
}
.replay-cell .team:last-child {
    border: 0px;
}
.player {
    word-wrap: break-word;
}
.civ-icon {
    margin-right: 5px;
    height: 20px;
    float: left;
}
.civ-icon.small {
    height: 20px;
}
.replay-detail {
    font-size: 11px;
}
#user-details {
    width: 250px;
    float: left;
}
#type-pie {
    float: right;
}
#type-pie .legend {
    position: relative;
    left: -190px;
}
#type-pie .legend > div {
    background: none;
}
#history {
    clear: both;
}
.type-box {
    display: inline-block;
    width: 16px;
    float: right;
    font-size: 12px;
    cursor: default;
}
table tr th.sorting {
    cursor: pointer;
}
table tr th.sorting_desc, table tr th.sorting_asc {
    /*background-image: -moz-linear-gradient(top,#666,#020202);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#666),to(#020202));
    background-image: -webkit-linear-gradient(top,#666,#020202);
    background-image: -o-linear-gradient(top,#666,#020202);
    background-image: linear-gradient(to bottom,#666,#020202);
    background-repeat: repeat-x;*/
    cursor: pointer;
    border-bottom: 1px solid #33b5e5;
}
#replay-team {
    overflow: hidden;
    margin-bottom: 10px;
}
#replay-team .player {
    padding: 5px;
}
#replay-team .team:last-child {
    border-right: 0px;
}
#replay-team .team {
    width: 112px;
}
#replay-team .team.twoplayer {
    width: 155px;
}
#replay-details {
    overflow: hidden;
}
#replay-details dl {
    float: left;
    width: 320px;
}
#replay-details img {
    float: right;
}

#detail-btn {
    margin-top: 10px;
    text-align: center;
    position: absolute;
    top: 470px;
}
footer {
    margin-top: 50px;
    text-align: center;
    font-size: 10px;
}
.leftbar .well .snippet {
    color: #CCC;
}
table {
    table-layout: fixed;
}
table td, table th {
    overflow: hidden;
}
#deck-table-span {
    min-width: 400px;
}
#deck-name {
    width: 180px;
}
#deck-name, #saveDeckName {
    height: 17px;
    margin: 6px 0px 5px 0px;
    vertical-align: top;
}
#save-deck-name-button {
    height: 27px;
    vertical-align: top;
    margin-top: 6px;
}
#load-deck-button {
    height: 27px;
    float: right;
    vertical-align: top;
    margin-top: 6px;
}
.login-menu {
    padding: 15px;
}
.login-menu form {
    display: inline;
}
.dropdown-menu>li.login-menu>a {
    display: inline;
    background: transparent;
    color: #33b5e5;
    position: relative;
    top: 6px;
    padding: 0px 0px 0px 5px;
    font-size: 12px
}
.dropdown-menu>li.login-menu>a:hover {
    text-decoration: underline;
}
#a-block {
    position: absolute;
    right: -180px;
    top: 0px;
}
#deck-pie {
    width: 178px;
    height: 178px;
}

/* Bootstrap customisation */
h1, h2, h3, h4, h5, h6 {
    margin: 0px 0px 10px 0px;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 18px;
    font-weight: normal;
}
h4 {
    font-size: 16px;
    font-weight: normal;
}
h5 {
    font-size: 14px;
    font-weight: normal;
}
h6 {
    font-size: 12px;
    font-weight: normal;
}
.well {
    padding: 0px;
}
.well .well-inner {
    padding: 10px 20px;
}
.well h3 {
    margin-top: 0px;
}
.navbar-inner {
}
tfoot tr th.navbar-inner {
}
#main > .row {
    position: relative;
}
/*select, textarea, input[type="text"], input[type="password"],
input[type="datetime"], input[type="datetime-local"], input[type="date"],
input[type="month"], input[type="time"], input[type="week"], input[type="number"],
input[type="email"], input[type="url"], input[type="search"], input[type="tel"],
input[type="color"], .uneditable-input {
    height: 30px;
}*/

.progress {
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
}

.alert p {
    margin: 5px 0px;
}

pre {
    min-width: 520px;
}

.dl-horizontal dt {
    width: 100px;
}
.dl-horizontal dd {
    margin-left: 120px;
}

#page-errors.hidden {
    display: none;
}

/* chat */

.chat-box .chat {
    height: 200px;
    overflow-y: auto;
    margin: 0px;
    font-size: 12px;
}

.chat-box .chat li {
    padding: 2px 0px;
    line-height: 12px;
}

.chat-box #chat-text {
    max-width: 100%;
}

.chat-box #chat-button {
}

.chat .chat-row .chat-author {
    font-weight: bold;
    display: inline;
}

.chat .chat-row .chat-message {
    display: inline;
}

.chat .chat-row.error {
    color: red;
}

/* players online */
.players-online .players {
    padding: 0px;
    height: 200px;
    overflow-y: auto;
    margin: 0px;
}

.players-online .players li {
    list-style: none;
}

.players-online .players li .challenge {
    font-size: 11px;
    margin-left: 10px;
    cursor: pointer;
}