<?php $count = 1; ?>
<?php $cellsPerRow = $this->view == 'small-image' ? 4 : 3; ?>
<?php //TODO: move service call to view helper ?>
<?php $cardsService = new \Clans\Service\Card(); ?>

<?php foreach ($this->cards as $card) : ?>
<?php /* @var $card \Clans\Models\Card */ ?>
<div class="cardcell <?php echo $this->view == 'small-image' ? '' : ($this->view == 'medium-image' ? 'large' : 'full') ?> inactive" data-clan="<?php echo strtolower($card->getClan()) ?>" data-image="<?php echo $cardsService->getImageForCard($card, $this->view == 'small-image') ?>">
    <?php echo $this->partial('/card/card-details.phtml', array('card' => $card)); ?>
    <?php if ($this->login) : ?>
    <a data-id="<?php echo $card->getId() ?>" class="btn btn-small btn-primary remove-card card-deck-button">
        <i class="fa fa-minus-square" aria-hidden="true"></i> 1
    </a>
    <a data-id="<?php echo $card->getId() ?>" class="btn btn-small btn-primary add-card card-deck-button">
        <i class="fa fa-plus-square" aria-hidden="true"></i> 1
    </a>
    <a data-id="<?php echo $card->getId() ?>" class="btn btn-small btn-primary remove-card card-deck-button multiple">
        <i class="fa fa-minus-square" aria-hidden="true"></i> 4
    </a>
    <a data-id="<?php echo $card->getId() ?>" class="btn btn-small btn-primary add-card card-deck-button multiple">
        <i class="fa fa-plus-square" aria-hidden="true"></i> 4
    </a>
    <?php endif; ?>
</div>
<?php $count++ ?>
<?php endforeach; ?>