<link id="stylesheet" href="/asset/bootstrap/css/CYBORGbootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/asset/css/hextcgdb.css?v=6" rel="stylesheet" type="text/css" />
<link href="/asset/css/cards.css" rel="stylesheet" type="text/css" />

<style>
    body {
        background: none;
        padding: 10px;
    }
    .cardcell {
        margin: 0px;
        border: 5px solid black;
    }
    .cardcell.large, .card {
        width: 214px;
        height: 298px;
    }
    .card .card-text {
        height: auto;
        top: 63%;
    }
    .card .card-stats {
        top: 55.5%;
    }
    .break {
        clear: both;
        height: 0px;
    }
    .clan-flag {
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .card .card-title {
        padding-left: 22px;
    }
    @media print {
        .page-break {
            page-break-after: always;
        }
    }
</style>

<?php $count = 1; ?>
<?php $cardsService = new \Clans\Service\Card(); ?>

<?php foreach ($this->cards as $card) : ?>
<?php /* @var $card \Clans\Models\Card */ ?>
<div
    class="card cardcell large" data-clan="<?php echo strtolower($card->getClan()) ?>"
    <?php /* style="background-image: url('/asset/images/card-bg-<?php echo strtolower($card->getClan()) ?>-81.png'), url('<?php echo $cardsService->getImageForCard($card, false) ?>')" */ ?>
     >
    <?php echo $this->partial('/card/card-details.phtml', array('card' => $card)); ?>
    <img class="clan-flag" src="/asset/images/flag-<?php echo strtolower($card->getClan()) ?>-sm.png" />
</div>
<?php if ($count % 3 == 0) : ?>
<div class="break<?php echo $count % 9 == 0 ? ' page-break' : '' ?>">&nbsp;</div>
<?php endif; ?>
<?php $count++ ?>
<?php endforeach; ?>