<div class="panel panel-smart clearfix">
    <form id="card-filters" class="table-filters form-inline">
        <div id="filter-text-box" class="input-append">
            <input type="text" name="search" id="filter-text" placeholder="Search" class="form-control" />
        </div>
        <div id="card-filter" class="btn-group">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="filter-button">
                Filter
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <?php foreach ($this->filters as $filter) : ?>
                <li class="table-filter dropdown-submenu" rel="<?php echo $filter->name ?>">
                    <a href="#"><?php echo $filter->displayName ?></a>
                    <ul class="dropdown-menu">
                        <?php foreach ($filter->options as $value => $display) : ?>
                        <li>
                            <a href="#" rel="<?php echo $filter->name ?>">
                                <input type="checkbox" name="filters[<?php echo $filter->name ?>][]" value="<?php echo $value ?>" />
                                <?php echo $display ?>
                            </a>
                        </li>
                        <?php endforeach; ?>
                    </ul>
                </li>
                <?php endforeach; ?>
            </ul>
        </div>

        <div id="card-sort" class="table-filters">
            <div class="table-filter btn-group" rel="sort" class="">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="chosen">Sort</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" rel="Clan">
                            <input type="radio" name="sort" value="clan" checked="checked" />
                            Clan
                        </a>
                    </li>
                    <li>
                        <a href="#" rel="Name">
                            <input type="radio" name="sort" value="name" />
                            Name
                        </a>
                    </li>
                    <li>
                        <a href="#" rel="Type">
                            <input type="radio" name="sort" value="type" />
                            Type
                        </a>
                    </li>
                    <li>
                        <a href="#" rel="Cost">
                            <input type="radio" name="sort" value="cost" />
                            Cost
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#" rel="ASC">
                            <input type="radio" name="sort-dir" value="ASC" checked="checked" />
                            <i class="icon-arrow-up icon-white"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" rel="DESC">
                            <input type="radio" name="sort-dir" value="DESC" />
                            <i class="icon-arrow-down icon-white"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="card-view" class="table-filters">
            <div class="table-filter btn-group" rel="view" class="">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    <span class="chosen">View</span>
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" rel="large-image">
                            <input type="radio" name="view" value="large-image" checked="checked" />
                            Large Images
                        </a>
                    </li>
                    <li>
                        <a href="#" rel="medium-image">
                            <input type="radio" name="view" value="medium-image" checked="checked" />
                            Medium Images
                        </a>
                    </li>
                    <li>
                        <a href="#" rel="small-image">
                            <input type="radio" name="view" value="small-image" />
                            Small Images
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </form>

    <button class="btn btn-primary" href="#" id="clearFilters">Clear All</button>

    <div id="grid-count"></div>
</div>
<div id="card-grid-loading-bar" class="progress progress-striped active">
    <div class="bar" style="width: 100%;">Loading...</div>
</div>
<div id="cardgrid" class="clearfix">
</div>
<?php if ($this->decks) : ?>
<div id="deck-selector">
    <ul class="nav nav-pills nav-stacked">
        <?php foreach ($this->decks as $deck) : ?>
        <li><a href="/?selectedDeck=<?php echo $deck->deckID ?>" data-id="<?php echo $deck->deckID ?>"><?php echo $deck->name ?></a></li>
        <?php endforeach; ?>
    </ul>
</div>
<?php endif; ?>
