<?php if ($this->deck) : ?>
<h3><?php echo $this->deck->getName() ?></h3>
<table class="decklist table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th style="width: 50px">Cost</th>
            <th style="width: 75px">Influence</th>
            <th>Name</th>
            <th style="width: 70px">Quantity</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($this->deck->getCards() as $card) : ?>
        <tr class="<?php echo $card->clan ?>">
            <td>
                <?php echo $card->cost > -1 ? $card->cost : $card->cost_special ?>
            </td>
            <td><?php echo str_repeat("B", $card->influence_b) . str_repeat("M", $card->influence_m) . str_repeat("R", $card->influence_r) . str_repeat("G", $card->influence_g) ?>&nbsp;</td>
            <td>
                <?php if ($this->myDeck) : ?>
                <a data-set="<?php echo $card->set ?>" data-number="<?php echo $card->number ?>" class="remove-card card-deck-button"><i class="icon-minus-sign icon-white"></i></a>
                <a data-set="<?php echo $card->set ?>" data-number="<?php echo $card->number ?>" class="add-card card-deck-button"><i class="icon-plus-sign icon-white"></i></a>
                <?php endif; ?>
                <a rel="deckgallery" href="/card/<?php echo $card->set ?>/<?php echo $card->number ?>?cb=1"><?php echo $card->name ?></a>
            </td>
            <td>
                <?php echo $card->quantity ?>
            </td>
        </tr>
        <?php endforeach; ?>
    </tbody>
</table>
<span class="deck-links">
    <a id="view-deck" class="deck-link" href="/deck/view/id/<?php echo $this->deck->getId() ?>">View</a>
</span>
<?php endif; ?>