<option>Change Deck</option>
<?php foreach ($this->decks as $deck) : ?>
<?php /* @var $deck \Models\Deck */ ?>
<option value="<?php echo $deck->getId() ?>"><?php echo $deck->getName() ?></option>
<?php endforeach; ?>