<?php if ($this->deck) : ?>
<h4>
    <?php echo $this->deck->getName() ?>
    <span class="deck-links">
        <a id="view-deck" class="deck-link" href="/deck/view/id/<?php echo $this->deck->getId() ?>">View</a>
    </span>
</h4>
<?php if (count($this->deck->getDeckCards())) : ?>
<table class="table table-bordered decklist">
    <?php foreach ($this->deck->getDeckCards() as $deckCard) : ?>
    <?php /* @var $deckCard \Clans\Models\DeckCard */ ?>
    <tr class="<?php echo $deckCard->getCard()->getClan() ?>">
        <td>
            <a data-set="<?php echo $deckCard->getCard()->getSet()->getAbbrev() ?>" data-number="<?php echo $deckCard->getCard()->getNumber() ?>" class="remove-card card-deck-button"><i class="icon-minus-sign icon-white"></i></a>
            <a data-set="<?php echo $deckCard->getCard()->getSet()->getAbbrev() ?>" data-number="<?php echo $deckCard->getCard()->getNumber() ?>" class="add-card card-deck-button"><i class="icon-plus-sign icon-white"></i></a>
            <?php echo $deckCard->getCard()->getName() ?>
        </td>
        <td style="width:24px">
            <?php echo $deckCard->getQuantity() ?>
        </td>
    </tr>
    <?php endforeach; ?>
</table>
<?php endif; ?>
<?php endif; ?>