<?php if ($this->deck) : ?>

    <?php $cards = $this->deck->getCards() ?>

    <p><strong>Total cards:</strong> <?php echo Application_Model_Decks::getDeckCardCountByType($cards) ?></p>
    <p><strong>Resources:</strong> <?php echo Application_Model_Decks::getDeckCardCountByType($cards, 'Resource'); ?></p>
    <p><strong>Allies:</strong> <?php echo Application_Model_Decks::getDeckCardCountByType($cards, 'Ally'); ?></p>
    <p><strong>Equipment:</strong> <?php echo Application_Model_Decks::getDeckCardCountByType($cards, 'Equipment'); ?></p>
    <p><strong>Structures:</strong> <?php echo Application_Model_Decks::getDeckCardCountByType($cards, 'Structure'); ?></p>
    <p><strong>Events:</strong> <?php echo Application_Model_Decks::getDeckCardCountByType($cards, 'Event'); ?></p>
    
    <div id="deck-pie">
        <script>
        function labelFormatter(label, series) {
            return "";
        }
        var clanTotals = new Array();
        clanTotals['None'] = 0;
        clanTotals['Bain'] = 0;
        clanTotals['Monzar'] = 0;
        clanTotals['Ronmir'] = 0;
        clanTotals['Galmath'] = 0;
        
        <?php foreach ($cards as $card) : ?>
            clanTotals['<?php echo $card->clan ?>'] += <?php echo $card->quantity ?>;
        <?php endforeach; ?>
            
        var clans = new Array();
        clans['Bain'] = '#0066CC';
        clans['Monzar'] = '#A20000';
        clans['Ronmir'] = '#A09871';
        clans['Galmath'] = '#1D1B1D';
            
        var deckData = new Array();
        for (i in clanTotals) {
            deckData.push({ label: i, data: clanTotals[i], color: clans[i] });
        }
        
        if (deckData.length) {
            $.plot('#deck-pie', deckData, {
                series: {
                    pie: {
                        show: true,
                        radius: 1,
                        label: {
                            show: true,
                            radius: 3/4,
                            formatter: labelFormatter,
                            background: {
                                opacity: 0.5
                            },
                            threshold: 0.05
                        }
                    }
                },
                legend: {
                    show: false
                }
            });
        }
        </script>
    </div>
    
<?php endif; ?>