<div class="row">
    <div class="span9">
        <div class="well">
            <h3 class="navbar-inner">Decks</h3>
            <div class="well-inner">
                <table class="table table-bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th style="width: 100px;">Creator</th>
                            <th>Deck Name</th>
                            <th style="width: 75px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php /*foreach ($this->decks as $deck) : ?>
                        <tr>
                            <td><?php echo $deck->username ? $deck->username : '' ?></td>
                            <td><?php echo $deck->name ?><?php echo $deck->published == 0 ? ' (unpublished)' : '' ?></td>
                            <td><a href="/deck/view/id/<?php echo $deck->deckID ?>">View</a></td>
                        </tr>
                        <?php endforeach;*/ ?>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div id="right-bar" class="span3">
        <div class="well">
            <h3 class="navbar-inner">Players Online</h3>
            <div class="players-online well-inner">
                <ul class="players">
                </ul>
            </div>
        </div>
    </div>
</div>