<?php if ($this->deck) : ?>

<script language="javascript" type="text/javascript" src="/asset/js/jquery.flot.min.js"></script>
<script language="javascript" type="text/javascript" src="/asset/js/jquery.flot.categories.min.js"></script>
<script language="javascript" type="text/javascript" src="/asset/js/jquery.flot.pie.min.js"></script>

<div class="row">
    
    <div id="deck-table-span" class="span6">
        <div class="well">
            <h3 class="navbar-inner">
                <?php if ($this->myDeck) : ?>
                <input type="text" name="name" id="deck-name" value="<?php echo $this->deck->name ? $this->deck->name : "" ?>"<?php echo !$this->deck->name ? ' placeholder="Unnamed Deck"' : '' ?> />
                <button data-url="/deck/view/id/<?php echo $this->deck->deckID ?>" id="save-deck-name-button" class="btn">Save</button>
                <button data-url="/deck/view/id/<?php echo $this->deck->deckID ?>" id="load-deck-button" class="btn">Edit Deck</button>
                <?php else : ?>
                <?php echo $this->deck->name ? $this->deck->name : "Unnamed Deck" ?>
                <?php endif; ?>
            </h3>
            <div id="deck" class="well-inner" data-id="<?php echo $this->deck->deckID ?>">
                <?php echo $this->partial('/deck/get-deck.phtml', array('deck' => $this->deck)); ?>
            </div>
        </div>
    </div>
    
    <div class="span3">
        <div class="well">
            <h3 class="navbar-inner">Deck Details</h3>
            <div class="well-inner">
                <?php if ($this->myDeck) : ?>
                <p>
                    <span class="publish-button" id="deck-published" <?php echo $this->deck->published ? '' : 'style="display:none"' ?>>
                        Deck is published live&nbsp;&nbsp;<button data-url="/deck/view/id/<?php echo $this->deck->deckID ?>" class="btn" id="unpublish-button">Unpublish</button>
                    </span>
                    <span class="publish-button" id="deck-published" <?php echo $this->deck->published ? 'style="display:none"' : '' ?>>
                        Deck is not published live&nbsp;&nbsp;<button data-url="/deck/view/id/<?php echo $this->deck->deckID ?>" class="btn" id="publish-button">Publish</button>
                    </span>
                </p>
                <?php endif; ?>
                <div id="deck-details">
                    
                </div>
            </div>
        </div>
    </div>
    
</div>

<div class="row">
    
    <div class="span9">
        <div class="well">
            <h3 class="navbar-inner">Comments</h3>
            <div class="well-inner">
                Comments feature coming soon...
            </div>
        </div>
    </div>
    
</div>

<?php else : ?>

<h1>Deck Not Found</h1>

<?php endif; ?>
