<?php
/* @var $match \Clans\Models\Match */
$match = $this->match;

/* @var $game \Clans\Models\Game */
$game = $this->game;

/* @var $me \Clans\Models\Login */
$me = $this->playerNumber == 1 ? $match->getP1() : $match->getP2();

/* @var $opponent \Clans\Models\Login */
$opponent = $this->playerNumber == 1 ? $match->getP2() : $match->getP1();

?>
<input type="hidden" id="matchID" value="<?= $match->getId() ?>" />
<input type="hidden" id="gameID" value="<?= $game->getId() ?>" />
<input type="hidden" id="playerNumber" value="<?= $this->playerNumber ?>" />

<div id="readytoplay">
    <p>Are you ready?</p>
    <button id="ready" class="btn btn-primary btn-large">Ready!</button>
</div>

<div id="game">
    <div id="wait">
        <p>Game starting in <span class="seconds-to-wait"></span></p>
    </div>
    <svg id="drawings"></svg>
    <div id="opponentSection" class="gameSection playerSection">
        <div class="zone deck opponent" data-pile="true" data-zone="<?= 4 - $this->playerNumber ?>">
            <div class="deckSize opponent badge"></div>
        </div>

        <div class="zone hand opponent" data-fan="true" data-zone="<?= 2 - $this->playerNumber ?>"></div>

        <div class="playerStatus opponent">
            <div class="aboutPlayer">
                <div class="playerName opponent">
                    <?= $opponent->getUsername() ?>
                </div>
                <div class="playerStats">
                    <div class="playerLife opponent">
                        <?= $this->playerNumber == 1 ? $game->getp2Life() : $game->getp1Life() ?>
                    </div>
                    <div class="playerResources opponent">
                        <?= $this->playerNumber == 1 ? $game->getPlayerCurrentResources(2) : $game->getPlayerCurrentResources(1) ?>
                    </div>
                    <div class="zone discard opponent" data-pile="true" data-zone="<?= 6 - $this->playerNumber ?>">
                        <div class="discardSize opponent badge"></div>
                    </div>
                </div>
            </div>
            <div class="gameClock">
                <div id="clock" class="demo-container clocks active bounce">
                    <article class="clock show">
                        <section class="seconds-container">
                            <section class="seconds"></section>
                        </section>
                    </article>
                </div>
            </div>
        </div>
    </div>

    <div id="inPlaySection">
        <div class="zone play opponent" data-zone="<?= 10 - $this->playerNumber ?>">
            <div class="playSlot" data-slot="1"></div>
            <div class="playSlot" data-slot="2"></div>
            <div class="playSlot" data-slot="3"></div>
            <div class="playSlot" data-slot="4"></div>
            <div class="playSlot" data-slot="5"></div>
            <div class="playSlot" data-slot="6"></div>
        </div>
        <div class="zone play me" data-zone="<?= 7 + $this->playerNumber ?>">
            <div class="playSlot" data-slot="1"></div>
            <div class="playSlot" data-slot="2"></div>
            <div class="playSlot" data-slot="3"></div>
            <div class="playSlot" data-slot="4"></div>
            <div class="playSlot" data-slot="5"></div>
            <div class="playSlot" data-slot="6"></div>
        </div>
    </div>

    <div id="meSection" class="gameSection playerSection">
        <div class="playerStatus me">
            <div class="playerOptions">
                <div id="chat-container" class="dropdown dropup">
                    <button class="btn dropdown-toggle btn-sm" data-toggle="dropdown">
                        <span class="badge"></span>
                        Chat
                        <span class="caret"></span>
                    </button>
                    <div class="well dropdown-menu">
                        <div class="chat-box well-inner">
                            <ul class="chat"></ul>
                            <form class="form-inline">
                                <input type="text" name="chat" id="chat-text" placeholder="Chat" class="form-control" />
                                <button class="btn" id="chat-button">
                                    Send
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <button id="drawCardButton" class="btn btn-primary btn-sm">
                    Draw
                    <span class="amount">2</span>
                </button>
            </div>
            <div class="aboutPlayer">
                <div class="playerName me">
                    <?= $me->getUsername() ?>
                </div>
                <div class="playerStats">
                    <div class="playerLife me">
                        <?= $this->playerNumber == 1 ? $game->getp1Life() : $game->getp2Life() ?>
                    </div>
                    <div class="playerResources me">
                        <?= $this->playerNumber == 1 ? $game->getPlayerCurrentResources(1) : $game->getPlayerCurrentResources(2) ?>
                    </div>
                    <div class="zone discard me" data-pile="true" data-zone="<?= 3 + $this->playerNumber ?>">
                        <div class="discardSize me badge"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="zone hand me" data-fan="true" data-zone="<?= -1 + $this->playerNumber ?>"></div>

        <div class="zone deck me" data-pile="true" data-zone="<?= 1 + $this->playerNumber ?>">
            <div class="deckSize me badge"></div>
        </div>
    </div>
</div>

       <!-- <div id="gameTimer" class="row-fluid playerStats">
            <div class="col-xs-6" id="timer">00:00</div>
            <div id="tickProgress" class="col-xs-6">
                <div class="bar"></div>
            </div>
        </div> -->