<?php
/* @var $match \Clans\Models\Match */
$match = $this->match;

/* @var $game \Clans\Models\Game */
$game = $this->game;

/* @var $me \Clans\Models\Login */
$me = $this->playerNumber == 1 ? $match->getP1() : $match->getP2();

/* @var $opponent \Clans\Models\Login */
$opponent = $this->playerNumber == 1 ? $match->getP2() : $match->getP1();

?>
<input type="hidden" id="matchID" value="<?php echo $match->getId() ?>" />
<input type="hidden" id="gameID" value="<?php echo $game->getId() ?>" />
<input type="hidden" id="playerNumber" value="<?php echo $this->playerNumber ?>" />

<div class="row-fluid">
    
    <div id="gameStatus" class="col-xs-2 gameContainer gameSection">
        
        <div class="playerStats opponent">
            <div class="playerStatsRow">
                <div class="playerName opponent">
                    <?php echo $opponent->getUsername() ?>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="playerLife opponent">
                            <?php echo $this->playerNumber == 1 ? $game->getp2Life() : $game->getp1Life() ?>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="playerResources opponent">
                            <?php echo $this->playerNumber == 1 ? $game->getPlayerCurrentResources(2) : $game->getPlayerCurrentResources(1) ?>
                        </div>
                    </div>
                </div>
            </div>
            <div class="playerStatsRow">
                <div class="playerInfluence opponent">
                    <div class="influenceBain"></div>
                    <div class="influenceMonzar"></div>
                    <div class="influenceGalmath"></div>
                    <div class="influenceRonmir"></div>
                </div>
            </div>
        </div>
        
        <div class="playerStats player">
            <div class="playerStatsRow">
                <div class="playerInfluence player">
                    <div class="influenceBain"></div>
                    <div class="influenceMonzar"></div>
                    <div class="influenceGalmath"></div>
                    <div class="influenceRonmir"></div>
                </div>
            </div>
            <div class="playerStatsRow">
                <button id="drawCardButton" class="btn btn-primary">
                    Draw Card<span class="amount">2</span>
                </button>
            </div>
            <div class="playerStatsRow">
                <div class="playerName player">
                    <?php echo $me->getUsername() ?>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="playerLife player">
                            <?php echo $this->playerNumber == 1 ? $game->getp1Life() : $game->getp2Life() ?>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="playerResources player">
                            <?php echo $this->playerNumber == 1 ? $game->getPlayerCurrentResources(1) : $game->getPlayerCurrentResources(2) ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="gameTimer" class="row-fluid playerStats">
            <div class="col-xs-6" id="timer">00:00</div>
            <div id="tickProgress" class="col-xs-6">
                <div class="bar"></div>
            </div>
        </div>
        
        <div class="zone deck opponent" data-pile="true">
            <div class="deckSize opponent badge"></div>
        </div>
        
        <div class="zone deck player" data-pile="true">
            <div class="deckSize player badge"></div>
        </div>
    </div>
    
    <div id="board" class="col-xs-10 gameSection">
        <div class="boardRow hand">
            <div class="zone zone-<?= 2 - $this->playerNumber ?> hand opponent gameContainer" data-zone="<?= 2 - $this->playerNumber ?>">
                <div class="zoneCards"></div>
            </div>
        </div>
        <!-- <div class="boardRow row">
            <div class="zone zone-<?= 6 - $this->playerNumber ?> discarded opponent gameContainer">
                <div class="discardSize"></div>
            </div> 
            <div class="zone zone-<?= 8 - $this->playerNumber ?> support opponent gameContainer" data-zone="<?= 8 - $this->playerNumber ?>">

            </div>
        </div>-->
        <div class="boardRow row">
            <!-- <div class="zone zone-<?= 4 - $this->playerNumber ?> deck opponent gameContainer">
            </div> -->
            <div class="zone zone-<?= 10 - $this->playerNumber ?> play opponent gameContainer" data-zone="<?= 10 - $this->playerNumber ?>">
                <div class="zoneCards"></div>
            </div>
        </div>
        <div class="boardRow row">
            <!-- <div class="zone zone-<?= 1 + $this->playerNumber ?> deck player gameContainer">
            </div> -->
            <div class="zone zone-<?= 7 + $this->playerNumber ?> play player gameContainer" data-zone="<?= 7 + $this->playerNumber ?>">
                <div class="zoneCards"></div>
            </div>
        </div>
        <!-- <div class="boardRow row">
            <div class="zone zone-<?= 3 + $this->playerNumber ?> discarded player gameContainer">
                <div class="discardSize"></div>
            </div>
            <div class="zone zone-<?= 5 + $this->playerNumber ?> support player gameContainer" data-zone="<?= 5 + $this->playerNumber ?>">

            </div>
        </div> -->
        <div class="boardRow hand row">
            <div class="zone zone-<?= -1 + $this->playerNumber ?> hand player gameContainer" data-zone="<?= -1 + $this->playerNumber ?>">
                <div class="zoneCards"></div>
            </div>
        </div>
        <canvas id="canvas"></canvas>
    </div>
</div>

<div id="chat-container" class="dropdown pull-right">
    <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="badge"></span>
        Chat
        <span class="caret"></span>
    </button>
    <div class="well dropdown-menu">
        <div class="chat-box well-inner">
            <ul class="chat">
            </ul>
            <?php if ($this->login) : ?>
            <form class="form-inline">
                <input type="text" name="chat" id="chat-text" placeholder="Chat" class="form-control">
                <button class="btn" id="chat-button">
                    Send
                </button>
            </form>
            <?php endif; ?>
        </div>
    </div>
</div>