<div class="row">
    <div class="span9">
        <div class="well">
            <h3 class="navbar-inner">Forgot Password</h3>
            <div class="well-inner">
                <form method="post" action="">
                    <label>Enter Your Email</label>
                    <input type="text" name="email" id="login-email" />
                    <label></label>
                    <button id="login-button" class="btn">Reset My Password</button>
                </form>
            </div>
        </div>
    </div>
</div>