<div class="row">
    <div class="span9">
        <div class="well">
            <h3 class="navbar-inner">Login</h3>
            <div class="well-inner">
                <form action="/login" method="post">
                    <label>Email</label>
                    <input type="text" name="email" id="login-email" value="<?php echo $this->email ? $this->email : '' ?>" />
                    <label>Password</label>
                    <input type="password" name="password" id="login-password" />
                    <label></label>
                    <button id="login-button" class="btn">Login</button>
                </form>
                <p><a href="/login/register">Register</a></p>
                <p><a href="/login/forgot-password">I forgot my password</a></p>
                <ul class="nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" target="_blank" data-toggle="dropdown" href="#">Login With <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="openid google">
                                <a href="/auth/index/type/Google">Login with Google</a>
                            </li>
                            <li class="openid twitter">
                                <a href="/auth/index/type/Twitter">Login with Twitter</a>
                            </li>
                            <li class="openid steam">
                                <a href="/auth/index/type/Steam">Login with Steam</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>