<div class="row">
    <div class="span9">
        <div class="well">
            <h3 class="navbar-inner">Profile</h3>
            <div class="well-inner">
                <form action="" method="post">
                    <label>Username</label>
                    <input type="text" name="username" id="login-username" value="<?php echo $this->loggedInUser->username ?>" />
                    <label>Email</label>
                    <input type="text" name="email" id="login-email" value="<?php echo $this->loggedInUser->email ?>" />
                    <label>Password</label>
                    <input type="password" name="password" id="login-password" />
                    <label>Retype Password</label>
                    <input type="password" name="password-retype" id="login-password-retype" />
                    <label></label>
                    <button id="login-button" class="btn">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>