<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-7">
                <h3>Register</h3>
                <form method="post" action="">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" class="form-control" name="username" id="login-username" value="<?php echo $this->username ? $this->username : '' ?>" />
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="a" value="<?php echo $this->testSum ?>" />
                        <label>Email</label>
                        <input type="text" class="form-control" name="email" id="login-email" value="<?php echo $this->email ? $this->email : '' ?>" />
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password" id="login-password" />
                    </div>
                    <div class="form-group">
                        <label>
                            What is <?php echo $this->testSum - $this->testFirst ?> plus <?php echo $this->testFirst ?>?
                        </label>
                        <input type="text" class="form-control" name="test" id="login-test" />
                    </div>
                    <div class="form-group">
                        <label></label>
                        <button id="login-button" class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>