<!DOCTYPE html>
<html>
    <head>
        <title>Clans Real-Time Card Game<?php echo isset($this->title) ? " :: $this->title" : "" ?></title>
        <!--<meta name="google-site-verification" content="JThIhiARm8bvuQzGi3eu7V5wiHPKmOznjv8-_PZlkV4" /> -->
        
        <script type="text/javascript" src="/asset/js/jquery-3.0.0.js"></script>
        <script type="text/javascript" src="/asset/js/jquery-ui.js"></script>
        <script type="text/javascript" src="/asset/js/jquery.ui.touch-punch.js"></script>
        <script type="text/javascript" src="/asset/bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript" src="/asset/js/jquery.dataTables.js"></script>
        <script type="text/javascript" src="/asset/js/datatables.filterdelay.js"></script>
        <script type="text/javascript" src="/asset/colorbox/jquery.colorbox-min.js"></script>
        <script type="text/javascript" src="/asset/js/jquery.raty.min.js"></script>
        <script type="text/javascript" src="/asset/js/pusher.min.js"></script>
        <script type="text/javascript" src="/asset/js/fullscreen.js"></script>
        <script type="text/javascript" src="/asset/js/clock.js"></script>

        <script type="text/javascript" src="/asset/js/handlebars.runtime.js"></script>
        <script type="text/javascript" src="/asset/js/handlebars-helpers.js"></script>
        <script type="text/javascript" src="/asset/js/templates/card.tmpl.js"></script>
        <script type="text/javascript" src="/asset/js/templates/gameCard.tmpl.js"></script>

        <script type="text/javascript" src="/asset/js/GameCard.js"></script>
        <script type="text/javascript" src="/asset/js/Card.js"></script>
        <script type="text/javascript" src="/asset/js/Match.js"></script>
        <script type="text/javascript" src="/asset/js/display.js?v=6"></script>

        <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet" />

        <link href="/asset/colorbox/colorbox.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="/asset/bootstrap/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="/asset/bootstrap/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/asset/bootstrap/css/style.css" media="screen" rel="stylesheet" type="text/css" />

        <link href="/asset/css/site.css?v=6" media="screen" rel="stylesheet" type="text/css" />
        <link href="/asset/css/game.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="/asset/css/cards.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="/asset/css/clock.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="/asset/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body class="game">
        <?php if ($this->login) : ?>
        <input type="hidden" id="userID" value="<?php echo $this->login->getId() ?>" />
        <?php endif; ?>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','/asset/js/analytics.js','ga');

          ga('create', 'UA-41246238-2', 'hextcgdb.com');
          ga('send', 'pageview');

        </script>
        
        <?php echo $this->layout()->content ?>
    </body>
</html>