<!DOCTYPE html>
<html>
    <head>
        <title>Hex TCG DB<?php echo isset($this->title) ? " :: $this->title" : "" ?></title>
        
        <!--<meta name="google-site-verification" content="JThIhiARm8bvuQzGi3eu7V5wiHPKmOznjv8-_PZlkV4" /> -->
        
        <script type="text/javascript" src="/asset/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="/asset/js/jquery-ui-1.8.16.custom.min.js"></script>
        <script type="text/javascript" src="/asset/bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript" src="/asset/bootstrap/js/bootstrap.file-input.js"></script>
        <script type="text/javascript" src="/asset/js/jquery.dataTables.js"></script>
        <script type="text/javascript" src="/asset/js/datatables.filterdelay.js"></script>
        <script type="text/javascript" src="/asset/colorbox/jquery.colorbox-min.js"></script>
        <script type="text/javascript" src="/asset/js/jquery.raty.min.js"></script>
        <script type="text/javascript" src="/asset/js/display.js?v=5"></script>

        <link href="/asset/colorbox/colorbox.css" media="screen" rel="stylesheet" type="text/css" />
        <link id="stylesheet" href="/asset/bootstrap/css/CYBORGbootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
        
        <link href="/asset/css/hextcgdb.css?v=5" media="screen" rel="stylesheet" type="text/css" />
        <link href="/asset/css/cards.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="/asset/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-41246238-2', 'hextcgdb.com');
          ga('send', 'pageview');

        </script>

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">Hex TCG DB</a>
                    <div class="nav-collapse collapse" id="main-menu">
                        <ul class="nav" id="main-menu-left">
                            <li<?php echo $this->controllerName == "index" ? ' class="active"' : '' ?>>
                                <a href="/">Card List</a>
                            </li>
                            <li<?php echo $this->controllerName == "deck" ? ' class="active"' : '' ?>>
                                <a href="/decks">Decks</a>
                            </li>
                        </ul>
                        <?php if ($this->controllerName == "index" && $this->actionName == "index") : ?>
                        <div id="toolbox" class="clearfix">
                            <form id="card-filters" class="table-filters">
                                <div id="filter-text-box" class="input-append">
                                    <input type="text" name="search" id="filter-text" placeholder="Search" />
                                </div>
                                <div class="btn-group">
                                    <button class="btn dropdown-toggle" data-toggle="dropdown" id="filter-button">
                                        Filter
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <?php foreach ($this->filters as $filter) : ?>
                                        <li class="table-filter dropdown-submenu" rel="<?php echo $filter->name ?>">
                                            <a href="#"><?php echo $filter->displayName ?></a>
                                            <ul class="dropdown-menu">
                                                <?php foreach ($filter->options as $value => $display) : ?>
                                                <li>
                                                    <a href="#" rel="<?php echo $filter->name ?>">
                                                        <input type="checkbox" name="filters[<?php echo $filter->name ?>][]" value="<?php echo $value ?>" />
                                                        <?php echo $display ?>
                                                    </a>
                                                </li>
                                                <?php endforeach; ?>
                                            </ul>
                                        </li>
                                        <?php endforeach; ?>
                                    </ul>
                                        <!--<li class="table-filter dropdown-submenu" rel="shard">
                                            <a href="#">Shards</a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="#" rel="b">
                                                        <input type="checkbox" name="filters[shard][]" value="b" />
                                                        Blood
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" rel="w">
                                                        <input type="checkbox" name="filters[shard][]" value="w" />
                                                        Wild
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" rel="d">
                                                        <input type="checkbox" name="filters[shard][]" value="d" />
                                                        Diamond
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" rel="r">
                                                        <input type="checkbox" name="filters[shard][]" value="r" />
                                                        Ruby
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" rel="s">
                                                        <input type="checkbox" name="filters[shard][]" value="s" />
                                                        Sapphire
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="table-filter dropdown-submenu" rel="type">
                                            <a href="#">Types</a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="#" rel="Constant">
                                                        <input type="checkbox" name="filters[type][]" value="Constant" />
                                                        Constant
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" rel="Artifact">
                                                        <input type="checkbox" name="filters[type][]" value="Artifact" />
                                                        Artifact
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" rel="Troop">
                                                        <input type="checkbox" name="filters[type][]" value="Troop" />
                                                        Troop
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" rel="Resource">
                                                        <input type="checkbox" name="filters[type][]" value="Resource" />
                                                        Resource
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" rel="Basic Action">
                                                        <input type="checkbox" name="filters[type][]" value="Basic Action" />
                                                        Basic Action
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" rel="Quick Action">
                                                        <input type="checkbox" name="filters[type][]" value="Quick Action" />
                                                        Quick Action
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="table-filter dropdown-submenu" rel="rarity">
                                            <a href="#">Rarities</a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="#" rel="Special">
                                                        <input type="checkbox" name="filters[rarity][]" value="Special" />
                                                        Special
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" rel="Promo">
                                                        <input type="checkbox" name="filters[rarity][]" value="Promo" />
                                                        Promo
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" rel="Common">
                                                        <input type="checkbox" name="filters[rarity][]" value="Common" />
                                                        Common
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" rel="Uncommon">
                                                        <input type="checkbox" name="filters[rarity][]" value="Uncommon" />
                                                        Uncommon
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" rel="Rare">
                                                        <input type="checkbox" name="filters[rarity][]" value="Rare" />
                                                        Rare
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" rel="Legendary">
                                                        <input type="checkbox" name="filters[rarity][]" value="Legendary" />
                                                        Legendary
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="table-filter dropdown-submenu" rel="keywords">
                                            <a href="#">Keywords</a>
                                            <ul class="dropdown-menu">
                                                <?php foreach ($this->keywords as $keyword) : ?>
                                                <li><a href="#" rel="<?php echo $keyword->keyword ?>"><?php echo ucwords($keyword->keyword) ?></a></li>
                                                <?php endforeach; ?>
                                            </ul>
                                        </li>
                                        <li class="table-filter dropdown-submenu" rel="pvp">
                                            <a href="#">PvP &amp; PvE</a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#" rel="1">PvP</a></li>
                                                <li><a href="#" rel="0">PvE</a></li>
                                            </ul>
                                        </li>
                                    </ul> -->
                                </div>
                                <!--
                                <div class="table-filter btn-group" rel="type" class="">
                                    <button class="btn dropdown-toggle" data-toggle="dropdown" data-original="Types">
                                        <span class="chosen">Types</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="active"><a href="#" rel="-1">All Types</a></li>
                                    </ul>
                                </div>
                                <div class="table-filter btn-group" rel="rarity" class="">
                                    <button class="btn dropdown-toggle" data-toggle="dropdown" data-original="Rarities">
                                        <span class="chosen">Rarities</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="active"><a href="#" rel="-1">All Rarities</a></li>
                                        <li><a href="#" rel="Special">Special</a></li>
                                        <li><a href="#" rel="Promo">Promo</a></li>
                                        <li><a href="#" rel="Common">Common</a></li>
                                        <li><a href="#" rel="Uncommon">Uncommon</a></li>
                                        <li><a href="#" rel="Rare">Rare</a></li>
                                        <li><a href="#" rel="Legendary">Legendary</a></li>
                                    </ul>
                                </div>
                                <div class="table-filter btn-group" rel="keywords" class="">
                                    <button class="btn dropdown-toggle" data-toggle="dropdown" data-original="Keywords">
                                        <span class="chosen">Keywords</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="active"><a href="#" rel="-1">Any Keywords</a></li>
                                        <?php foreach ($this->keywords as $keyword) : ?>
                                        <li><a href="#" rel="<?php echo $keyword->keyword ?>"><?php echo ucwords($keyword->keyword) ?></a></li>
                                        <?php endforeach; ?>
                                    </ul>
                                </div>
                                <div class="table-filter btn-group" rel="pvp" class="">
                                    <button class="btn dropdown-toggle" data-toggle="dropdown" data-original="PvP &amp; PvE">
                                        <span class="chosen">PvP &amp; PvE</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="active"><a href="#" rel="-1">PvP &amp; PvE</a></li>
                                        <li><a href="#" rel="1">PvP</a></li>
                                        <li><a href="#" rel="0">PvE</a></li>
                                    </ul>
                                </div>-->
                            </form>

                            <div id="card-sort" class="table-filters">
                                <div class="table-filter btn-group" rel="sort" class="">
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                        <span class="chosen">Sort</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="active">
                                            <a href="#" rel="-1">
                                                <input type="radio" name="sort" value="Name" />
                                                Name
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" rel="Type">
                                                <input type="radio" name="sort" value="Type" />
                                                Type
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" rel="Cost">
                                                <input type="radio" name="sort" value="Cost" />
                                                Cost
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <a href="#" id="clearFilters">Clear All</a>
                        </div>
                        <?php endif; ?>
                        <div id="donate">
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="67LXKLNL8GSHN">
                                <input onclick="ga('send', 'event', 'Donate', 'Click');" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="leftbar">
            <div class="well">
                <h3 class="navbar-inner">
                    My Deck
                    <?php if ($this->deck->deckID) : ?>
                    <a class="view-deck-link" href="/decks/<?php echo $this->deck->deckID ?>">View</a>
                    <?php endif; ?>
                </h3>
                <div class="well-inner" id="mydeck">
                    
                </div>
            </div>
            <div class="well">
                <h3 class="navbar-inner">Latest News</h3>
                <div class="well-inner">
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <a onclick="ga('send', 'event', 'Latest-News', 'Click', 'The Internship Experience');" target="_blank" href="http://hextcg.com/the-internship-experience/">
                                The Internship Experience<br/>
                                <small class="muted"><em>May 30th, 2013</em></small><br/>
                            </a>
                        </li>
                        <li>
                            <a onclick="ga('send', 'event', 'Latest-News', 'Click', 'Difference and Excitement');" target="_blank" href="http://hextcg.com/difference-and-excitement/">
                                Difference and Excitement<br/>
                                <small class="muted"><em>May 29th, 2013</em></small><br/>
                            </a>
                        </li>
                        <li>
                            <a onclick="ga('send', 'event', 'Latest-News', 'Click', 'Keywords');" target="_blank" href="http://hextcg.com/keywords/">
                                Keywords<br/>
                                <small class="muted"><em>May 28th, 2013</em></small><br/>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="well left_a">
                <script type="text/javascript"><!--
                google_ad_client = "ca-pub-5533656259731654";
                /* AoE 2 Stats left bar */
                google_ad_slot = "2084831780";
                google_ad_width = 200;
                google_ad_height = 200;
                //-->
                </script>
                <script type="text/javascript"
                src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                </script>
            </div>
        </div>
        
        <div class="main container-fluid<?php echo $this->controllerName == "index" && $this->actionName == "index" ? " grid" : "" ?>">
            <section id="main">
                <div class="row-fluid">
                    <div id="page" class="span12<?php echo $this->controllerName == "index" && $this->actionName == "index" ? " toolbox" : "" ?>">
                        <?php if (isset($this->pageTitle)) : ?>
                        <div class="page-header">
                            <h1><?php echo $this->pageTitle ?></h1>
                        </div>
                        <?php endif; ?>
                        <?php if (count($this->errors)) : ?>
                        <div class="alert alert-error">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <?php foreach ($this->errors as $error) : ?>
                            <p><?php echo $error ?></p>
                            <?php endforeach; ?>
                        </div>
                        <?php endif; ?>
                        <?php if (count($this->success)) : ?>
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <?php foreach ($this->success as $success) : ?>
                            <p><?php echo $success ?></p>
                            <?php endforeach; ?>
                        </div>
                        <?php endif; ?>
                        <?php echo $this->layout()->content ?>

                        <footer>
                            &copy; 2012 Hex TCG DB. Images, logos, and product names are &copy; and &trade; by their respective owners (Cryptozoic Entertainment)
                        </footer>
                    </div>
                </div>
            </section>
        </div>
        
        <div class="rightbar">
            <script type="text/javascript"><!--
            google_ad_client = "ca-pub-5533656259731654";
            /* AoE 2 Wider Sidebar */
            google_ad_slot = "7712452589";
            google_ad_width = 160;
            google_ad_height = 600;
            //-->
            </script>
            <script type="text/javascript"
            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
        </div>
    </body>
</html>