<!DOCTYPE html>
<html>
    <head>
        <title>Hex TCG DB<?php echo isset($this->title) ? " :: $this->title" : "" ?></title>
        
        <!--<meta name="google-site-verification" content="JThIhiARm8bvuQzGi3eu7V5wiHPKmOznjv8-_PZlkV4" /> -->
        
        <script type="text/javascript" src="/asset/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="/asset/js/jquery-ui-1.8.16.custom.min.js"></script>
        <script type="text/javascript" src="/asset/bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript" src="/asset/bootstrap/js/bootstrap.file-input.js"></script>
        <script type="text/javascript" src="/asset/js/jquery.dataTables.js"></script>
        <script type="text/javascript" src="/asset/js/datatables.filterdelay.js"></script>
        <script type="text/javascript" src="/asset/colorbox/jquery.colorbox-min.js"></script>
        <script type="text/javascript" src="/asset/js/jquery.raty.min.js"></script>
        <script type="text/javascript" src="/asset/js/display.js?v=5"></script>

        <link href="/asset/colorbox/colorbox.css" media="screen" rel="stylesheet" type="text/css" />
        <link id="stylesheet" href="/asset/bootstrap/css/CYBORGbootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
        
        <link href="/asset/css/hextcgdb.css?v=5" media="screen" rel="stylesheet" type="text/css" />
        <link href="/asset/css/cards.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="/asset/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-41246238-2', 'hextcgdb.com');
          ga('send', 'pageview');

        </script>

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">Hex TCG DB</a>
                    <div class="nav-collapse collapse" id="main-menu">
                        <ul class="nav" id="main-menu-left">
                            <li<?php echo $this->controllerName == "index" ? ' class="active"' : '' ?>>
                                <a href="/">Card List</a>
                            </li>
                            <li<?php echo $this->controllerName == "deck" ? ' class="active"' : '' ?>>
                                <a href="/deck">Decks</a>
                            </li>
                        </ul>
                        
                        

                        <?php if ($this->loggedInUser) : ?>
                        <ul class="nav pull-right" id="main-menu-right">
                            <?php if (isset($this->loggedInUser->photoURL)) : ?>
                            <li>
                                <img class="avatar" src="<?php echo $this->loggedInUser->photoURL ?>" />
                            </li>
                            <?php endif; ?>
                            <li class="dropdown">
                                <a class="dropdown-toggle" target="_blank" data-toggle="dropdown" href="#">
                                    <?php echo $this->loggedInUser->username ?> <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/login/profile">My Profile</a>
                                    </li>
                                    <li>
                                        <a href="/deck?user=<?php echo $this->loggedInUser->id ?>">My Decks</a>
                                    </li>
                                    <li>
                                        <a href="/index/logout">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <?php else : ?>
                        <ul class="nav pull-right" id="main-menu-right">
                            <li class="dropdown">
                                <a class="dropdown-toggle" target="_blank" data-toggle="dropdown" href="#">Login <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="login-menu">
                                        <form action="/login" method="post">
                                            <label>Email</label>
                                            <input type="text" name="email" id="login-email" />
                                            <label>Password</label>
                                            <input type="password" name="password" id="login-password" />
                                            <button id="login-button" class="btn">Login</button>
                                        </form>
                                        <a href="/login/register">Register</a>
                                        <a href="/login/forgot-password">Forgot password</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="openid google">
                                        <a href="/auth/index/type/Google">Login with Google</a>
                                    </li>
                                    <li class="openid twitter">
                                        <a href="/auth/index/type/Twitter">Login with Twitter</a>
                                    </li>
                                    <li class="openid steam">
                                        <a href="/auth/index/type/Steam">Login with Steam</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        </div>
                        <?php endif; ?>
                        
                        <div id="donate">
                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="67LXKLNL8GSHN">
                                <input onclick="ga('send', 'event', 'Donate', 'Click');" type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="leftbar">
            <div class="well">
                <h3 class="navbar-inner">
                    My Deck
                    <?php if ($this->sessionDeck->deckID) : ?>
                    <a class="view-deck-link" href="/deck/view/id/<?php echo $this->sessionDeck->deckID ?>">View</a>
                    <?php endif; ?>
                </h3>
                <div class="well-inner" id="mydeck">
                    
                </div>
            </div>
            <div class="well">
                <h3 class="navbar-inner">Latest News</h3>
                <div class="well-inner">
                    <ul class="nav nav-pills nav-stacked">
                        <li>
                            <a onclick="ga('send', 'event', 'Latest-News', 'Click', 'From a Gamers Perspective');" target="_blank" href="http://hextcg.com/from-a-gamers-perspective/">
                                From a Gamer's Perspective<br/>
                                <small class="muted"><em>June 3rd, 2013</em></small><br/>
                            </a>
                        </li>
                        <li>
                            <a onclick="ga('send', 'event', 'Latest-News', 'Click', 'Exlamation Points and Question Marks');" target="_blank" href="http://hextcg.com/exclamation-points-and-question-marks/">
                                Exlamation Points and Question Marks<br/>
                                <small class="muted"><em>May 31st, 2013</em></small><br/>
                            </a>
                        </li>
                        <li>
                            <a onclick="ga('send', 'event', 'Latest-News', 'Click', 'The Internship Experience');" target="_blank" href="http://hextcg.com/the-internship-experience/">
                                The Internship Experience<br/>
                                <small class="muted"><em>May 30th, 2013</em></small><br/>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="well left_a">
                <script type="text/javascript"><!--
                google_ad_client = "ca-pub-5533656259731654";
                /* AoE 2 Stats left bar */
                google_ad_slot = "2084831780";
                google_ad_width = 200;
                google_ad_height = 200;
                //-->
                </script>
                <script type="text/javascript"
                src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                </script>
            </div>
        </div>
        
        <div class="main container-fluid<?php echo $this->controllerName == "index" && $this->actionName == "index" ? " grid" : "" ?>">
            <section id="main">
                <div class="row-fluid">
                    <div id="page" class="span12<?php echo $this->controllerName == "index" && $this->actionName == "index" ? " toolbox" : "" ?>">
                        <?php if (count($this->errors)) : ?>
                        <div id="page-errors" class="alert alert-error">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <?php foreach ($this->errors as $error) : ?>
                            <p><?php echo $error ?></p>
                            <?php endforeach; ?>
                        </div>
                        <?php endif; ?>
                        <?php if (count($this->success)) : ?>
                        <div id="page-success" class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <?php foreach ($this->success as $success) : ?>
                            <p><?php echo $success ?></p>
                            <?php endforeach; ?>
                        </div>
                        <?php endif; ?>
                        <?php if (isset($this->pageTitle)) : ?>
                        <div class="page-header">
                            <h1><?php echo $this->pageTitle ?></h1>
                        </div>
                        <?php endif; ?>
                        <?php echo $this->layout()->content ?>

                        <footer>
                            &copy; 2012 Hex TCG DB. Images, logos, and product names are &copy; and &trade; by their respective owners (Cryptozoic Entertainment)
                        </footer>
                    </div>
                </div>
            </section>
        </div>
        
        <div class="rightbar">
            <script type="text/javascript"><!--
            google_ad_client = "ca-pub-5533656259731654";
            /* AoE 2 Wider Sidebar */
            google_ad_slot = "7712452589";
            google_ad_width = 160;
            google_ad_height = 600;
            //-->
            </script>
            <script type="text/javascript"
            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script>
        </div>
    </body>
</html>