<!DOCTYPE html>
<html>
    <head>
        <title>Clans Real-Time Card Game<?php echo isset($this->title) ? " :: $this->title" : "" ?></title>
        <!--<meta name="google-site-verification" content="JThIhiARm8bvuQzGi3eu7V5wiHPKmOznjv8-_PZlkV4" /> -->
        
        <script type="text/javascript" src="/asset/js/jquery-3.0.0.js"></script>
        <script type="text/javascript" src="/asset/js/jquery-ui.js"></script>
        <script type="text/javascript" src="/asset/js/jquery.ui.touch-punch.js"></script>
        <script type="text/javascript" src="/asset/bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript" src="/asset/js/jquery.dataTables.js"></script>
        <script type="text/javascript" src="/asset/js/datatables.filterdelay.js"></script>
        <script type="text/javascript" src="/asset/colorbox/jquery.colorbox-min.js"></script>
        <script type="text/javascript" src="/asset/js/jquery.raty.min.js"></script>
        <script type="text/javascript" src="/asset/js/pusher.min.js"></script>

        <script type="text/javascript" src="/asset/js/handlebars.runtime.js"></script>
        <script type="text/javascript" src="/asset/js/handlebars-helpers.js"></script>
        <script type="text/javascript" src="/asset/js/templates/card.tmpl.js"></script>

        <script type="text/javascript" src="/asset/js/Lobby.js"></script>
        <script type="text/javascript" src="/asset/js/display.js?v=6"></script>

        <link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed" rel="stylesheet">

        <link href="/asset/colorbox/colorbox.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="/asset/bootstrap/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="/asset/bootstrap/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link href="/asset/bootstrap/css/style.css" media="screen" rel="stylesheet" type="text/css" />
        
        <link href="/asset/css/site.css?v=6" media="screen" rel="stylesheet" type="text/css" />
        <link href="/asset/css/cards.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="/asset/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
        <?php if ($this->login) : ?>
        <input type="hidden" id="userID" value="<?php echo $this->login->getId() ?>" />
        <?php endif; ?>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','/asset/js/analytics.js','ga');

          ga('create', 'UA-41246238-2', 'hextcgdb.com');
          ga('send', 'pageview');

        </script>

        <nav id="main-menu" class="navbar" role="navigation">
            <!-- Nav Header Starts -->
            <div class="navbar-header">
                <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-cat-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <i class="fa fa-bars"></i>
                </button>
            </div>
            <!-- Nav Header Ends -->
            <!-- Navbar Cat collapse Starts -->
            <div class="collapse navbar-collapse navbar-cat-collapse">
                <ul class="nav navbar-nav pull-left">
                    <li class="navbar-brand">
                        Clans Real-Time Card Game
                    </li>
                    <li<?php echo $this->controllerName == "index" ? ' class="active"' : '' ?>>
                        <a href="/">Card List</a>
                    </li>
                    <li<?php echo $this->controllerName == "deck" ? ' class="active"' : '' ?>>
                        <a href="/deck">Decks</a>
                    </li>
                    <li class="dropdown change-bg">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            Change Background
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a data-img="asfalt.png" href="#">Asfalt</a>
                            </li>
                            <li>
                                <a data-img="bg_wood.jpg" href="#">BG Wood</a>
                            </li>
                            <li>
                                <a data-img="binding_dark.png" href="#">Binding Dark</a>
                            </li>
                            <li>
                                <a data-img="carbon_fibre.png" href="#">Carbon Fibre</a>
                            </li>
                            <li>
                                <a data-img="dark_mosaic.png" href="#">Dark Mosaic</a>
                            </li>
                            <li>
                                <a data-img="dark_stripes.png" href="#">Dark Stripes</a>
                            </li>
                            <li>
                                <a data-img="dark_wood.png" href="#">Dark Wood</a>
                            </li>
                            <li>
                                <a data-img="slash_it.png" href="#">Slash It</a>
                            </li>
                            <li>
                                <a data-img="wood_1.png" href="#">Wood 1</a>
                            </li>
                            <li>
                                <a data-img="wood_pattern.png" href="#">Wood Pattern</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <?php if ($this->login) : ?>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <?php if (isset($this->loginProfile->photoURL)) : ?>
                            <img class="avatar" src="<?php echo $this->loginProfile->photoURL ?>" />
                            <?php else : ?>
                            <?php echo $this->login->getUsername() ?>
                            <?php endif; ?>
                            <b class="caret"></b>
                        </a>
                        <ul class="pull-right dropdown-menu">
                            <li>
                                <a href="/login/profile">My Profile</a>
                            </li>
                            <li>
                                <a href="/deck?user=<?php echo $this->login->getId() ?>">My Decks</a>
                            </li>
                            <li>
                                <a href="/index/logout">Logout</a>
                            </li>
                        </ul>
                    </li>
                    <?php else : ?>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            Login
                            <b class="caret"></b>
                        </a>
                        <ul class="pull-right dropdown-menu">
                            <li class="login-menu">
                                <form action="/login" method="post">
                                    <input type="text" name="email" id="login-email" class="form-control" placeholder="Email" />
                                    <input type="password" name="password" id="login-password" class="form-control" placeholder="Password" />
                                    <button id="login-button" type="submit" class="btn btn-primary form-control">Login</button>
                                </form>
                            </li>
                            <li>
                                <a href="/login/register">Register</a>
                            </li>
                            <li>
                                <a href="/login/forgot-password">Forgot password</a>
                            </li>
                            <hr/>
                            <li class="openid google">
                                <a href="/auth/index/type/Google">Login with Google</a>
                            </li>
                            <li class="openid twitter">
                                <a href="/auth/index/type/Twitter">Login with Twitter</a>
                            </li>
                            <li class="openid steam">
                                <a href="/auth/index/type/Steam">Login with Steam</a>
                            </li>
                        </ul>
                    </li>
                    <?php endif; ?>
                </ul>
            </div>
            <!-- Navbar Cat collapse Ends -->
        </nav>
        
        <!--<div class="top-bar">
            <div class="container-fluid text-uppercase">
                <div class="clearfix">
                </div>
            </div>
	</div>-->

        <div class="container-fluid">
            <section id="main">
                <div class="row-fluid">
                    <div class="col-xs-12 col sm-5 col-md-3 col-lg-3">
                        <h3 class="side-heading">Chat</h3>
                        <div class="well">
                            <div class="chat-box well-inner">
                                <ul class="chat">
                                </ul>
                                <?php if ($this->login) : ?>
                                <form class="form-inline">
                                    <input type="text" name="chat" id="chat-text" placeholder="Chat" class="form-control">
                                    <input type="submit" class="btn btn-primary form-control" id="chat-button" value="Send" />
                                </form>
                                <?php endif; ?>
                            </div>
                        </div>
                        <h3 class="side-heading">Players Online</h3>
                        <div class="well">
                            <div class="players-online well-inner">
                                <ul class="players">
                                </ul>
                            </div>
                        </div>
                        <?php if ($this->login) : ?>
                        <h3 id="mydeck-header" class="side-heading">Edit Deck</h3>
                        <div class="well">
                            <div class="well-inner">
                                <div id="mydeck"></div>
                                <div id="choose-new-deck">
                                    <select>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <?php endif; ?>
                    </div>
                    
                    <div id="page" class="col-xs-12 col sm-7 col-md-9 col-lg-9<?php echo $this->controllerName == "index" && $this->actionName == "index" ? " toolbox" : "" ?>">
                        <div id="page-errors" class="alert alert-error<?php echo count($this->errors) ? '' : ' hidden' ?>">
                        <?php if (count($this->errors)) : ?>
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <?php foreach ($this->errors as $error) : ?>
                            <p><?php echo $error ?></p>
                            <?php endforeach; ?>
                        <?php endif; ?>
                        </div>
                        <?php if (count($this->success)) : ?>
                        <div id="page-success" class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <?php foreach ($this->success as $success) : ?>
                            <p><?php echo $success ?></p>
                            <?php endforeach; ?>
                        </div>
                        <?php endif; ?>
                        <?php if (isset($this->pageTitle)) : ?>
                        <div class="page-header">
                            <h1><?php echo $this->pageTitle ?></h1>
                        </div>
                        <?php endif; ?>
                        
                        <?php echo $this->layout()->content ?>

                        <footer>
                            &copy; 2014 Clans Real-Time Card Game
                        </footer>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>