<!DOCTYPE html>
<html>
    <head>
        <title>Clans Real-Time Card Game<?php echo isset($this->title) ? " :: $this->title" : "" ?></title>
        
        <!--<meta name="google-site-verification" content="JThIhiARm8bvuQzGi3eu7V5wiHPKmOznjv8-_PZlkV4" /> -->
        
        <script type="text/javascript" src="/asset/js/jquery-3.0.0.js"></script>
        <script type="text/javascript" src="/asset/js/jquery-ui.js"></script>
        <script type="text/javascript" src="/asset/bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript" src="/asset/bootstrap/js/bootstrap.file-input.js"></script>
        <script type="text/javascript" src="/asset/js/jquery.dataTables.js"></script>
        <script type="text/javascript" src="/asset/js/datatables.filterdelay.js"></script>
        <script type="text/javascript" src="/asset/js/display.js?v=5"></script>

        <link id="stylesheet" href="/asset/bootstrap/css/CYBORGbootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
        
        <link href="/asset/css/site.css?v=5" media="screen" rel="stylesheet" type="text/css" />
        <link href="/asset/css/cards.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="/asset/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body class="thin">
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-41246238-2', 'hextcgdb.com');
          ga('send', 'pageview');

        </script>

        <div class="">
            <section id="main">
                <div id="page">
                    <?php if (isset($this->pageTitle)) : ?>
                    <div class="page-header">
                        <h1><?php echo $this->pageTitle ?></h1>
                    </div>
                    <?php endif; ?>
                    <?php if (count($this->errors)) : ?>
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <?php foreach ($this->errors as $error) : ?>
                        <p><?php echo $error ?></p>
                        <?php endforeach; ?>
                    </div>
                    <?php endif; ?>
                    <?php if (count($this->success)) : ?>
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <?php foreach ($this->success as $success) : ?>
                        <p><?php echo $success ?></p>
                        <?php endforeach; ?>
                    </div>
                    <?php endif; ?>
                    <?php echo $this->layout()->content ?>
                </div>
            </section>
        </div>
    </body>
</html>