body{
	color:#fff;
	font:14px/22px 'Roboto Condensed', sans-serif;
}

/* Standard Styles Starts */

a{
	color:#b61517;
}
a:hover, 
a:focus{
	color:#f2f2f2;
}
a:focus{
	outline:none;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Roboto Condensed', sans-serif;
	color:#fff;
}
h1{
	font-size:38px;
}
h2{
	font-size:32px;
}
h3{
	font-size:26px;
}
h4{
	font-size:24px;
}
h5{
	font-size:18px;
}
h6{
	font-size:14px;
}
.main-heading{
	font-size:42px;
}
.main-heading span{
	font-size:18px;
	color:#cf1a1c;
}
.main-heading2{
	font-size:24px;
}
.main-heading, 
.main-heading2, 
.sub-heading{
	text-transform:uppercase;
}
.sub-heading{
	font-size:24px;
	padding:10px 0;
}

hr{
	border-color:#909090;
	border-style:solid;
}

/* Form & Buttons Styles Starts */

.btn-main {
	background-color: #b61517;
}
.btn-main:hover, 
.btn-main:focus,
.btn-main:active,
.btn-main.active {
	background-color: #900e10;
}
.btn-main, 
.btn-main:hover, 
.btn-main:focus,
.btn-main:active,
.btn-main.active {
	color:#fff;
}

/* Top Bar Styles Starts */

.top-bar{
	padding-top: 20px;
	padding-bottom: 15px;
	background-color:#262626;
	border-bottom:1px solid #535353;
}
	.top-bar, 
	.top-bar a, 
	.top-bar .btn-link{
		color:#a2a2a2;
	}
	.top-bar a:hover, 
	.top-bar a:focus, 
	.top-bar .btn-link:hover, 
	.top-bar .btn-group.open .btn-link{
		color:#fff;
	}
	.top-bar ul {
		margin-top:5px;
		margin-bottom:0;
	}
	
/* Currency & Languages Drop Down Styles Starts */

	.top-bar .btn-group{
		display:table-cell;
	}	
		.top-bar .btn-link{
			position:relative;
			text-transform:uppercase;
			text-decoration:none;
			border:none;
		}
			.top-bar .btn-link i.fa{
				margin-left:5px;
			}
		.top-bar .btn-group + .btn-group .btn-link{
		}
		
/* Main Header & Search Styles Starts */

	.main-header{
		padding:50px 0 40px;
	}
		#logo{
			margin-top:5px;
		}
			#logo img.img-responsive{
				margin-left:auto;
				margin-right:auto;
			}
		#search{
			margin-top:12px;
		}
		#search .input-group{
		}
			#search .input-group .form-control{
				padding-left:0;
				font-size:14px;
			}
			#search .input-group .form-control::-moz-placeholder {
				color: #fff;
			}
			#search .input-group .form-control:-ms-input-placeholder {
				color: #fff;
			}
			#search .input-group .form-control::-webkit-input-placeholder {
				color: #fff;
			}
			#search .input-group .btn{
				padding-right:0;
				font-size:18px;
				line-height:normal;
			}
			#search .input-group .form-control, 
			#search .input-group .btn {
				text-transform:uppercase;
				height:45px;				
				background:none;
				border:solid #fff;
				border-width:0 0 4px 0;
				color:#fff;
				-webkit-border-radius:0;
				   -moz-border-radius:0;
				        border-radius:0;
				-webkit-box-shadow:none;
				   -moz-box-shadow:none;
				        box-shadow:none;				
			}
			
/* Cart Style Starts */	

	#cart .btn{
		color:#fff;
		background:none;
		text-align:left;
		padding:0 0 10px;
		margin:23px 0 0 0;
		font-size:18px;
		text-transform:uppercase;
		border:solid #1c1c1c;
		border-width:0 0 2px 0;
		-webkit-box-shadow:none;
		   -moz-box-shadow:none;
			 box-shadow:none;
	}
	#cart .btn, 
	#cart .dropdown-menu {
		-webkit-border-radius:0;
		   -moz-border-radius:0;
		        border-radius:0;
	}
		#cart .btn .fa-shopping-cart{
			margin-right:15px;
			line-height:none;
			font-size:24px;
			color:#b61517;
		}				
		#cart .btn.dropdown-toggle span{
		}
		#cart .btn span#cart-total{
			margin-left:10px;
		}		
		#cart .btn .fa-shopping-cart, 
		#cart .btn span{
			float: left;
		}
		#cart .btn i.fa-caret-down{
			margin-top:2px;
			float:right;
		}
		#cart .dropdown-menu {
			min-width: 100%;
			margin-top:10px;
			background:#2a2a2a;
			color:#fff;
			z-index: 1001;
			padding:5px; 
		}
		#cart .open > .dropdown-menu{
			display:block;
		}
		#cart .dropdown-menu table {
			margin-bottom: 10px;
			color:#fff;
		}
		#cart .dropdown-menu table, 
		#cart .dropdown-menu table td{
			background:none;
			border:none;
		}
		#cart .dropdown-menu table.hcart td, 
		.line-bottom{
			border-bottom:1px solid #434343;
		}
		.line-top, 
		.btn-block1{
			border-top:1px solid #434343;
		}
		#cart .btn-block1{
			padding:20px 0 0;
		}
		#cart .btn-block1 a{
			padding:8px 12px;
			margin-left:10px;
			text-transform:uppercase;
			font-size:12px;
			text-decoration:none;
		}
		#cart .btn-block1 a:hover, #cart .btn-block1 a + a{
			background:#b61517;
			color:#fff;
		}
		#cart .btn-block1 a, #cart .btn-block1 a + a:hover{
			background:#fff;
			color:#1c1c1c;
		}
		#cart .dropdown-menu li > div {
			min-width: 427px;
			padding: 0 10px;
		}
		#cart .dropdown-menu li p {
			margin: 20px 0;
		}
		#cart .dropdown-menu table.total{
		}
		#cart .dropdown-menu table.total td{
			padding:2px 8px;
		}
		#cart .dropdown-menu table td a{	
			color:#b61517;
		}
		#cart .dropdown-menu table td a:hover{
			color:#fff;
		}
		
/* Main Menu Styles Starts */

	#main-menu{
		text-align:center;
	}
	#main-menu.navbar{
		margin:0 0 25px;
		padding:12px 0 5px;
		background:#b61517;
		border:none;
		-webkit-box-shadow:none;
		   -moz-box-shadow:none;
				box-shadow:none;
	}
		#main-menu .navbar-nav > li{
		}
		#main-menu .navbar-nav > li + li{
		}
		#main-menu .navbar-nav > li a{
			color:#fff;
			font-size:16px;
			font-weight:bold;
			text-transform:uppercase;
			padding-top:10px;
			padding-bottom:10px;
			-webkit-border-radius:5px;
			   -moz-border-radius:5px;
			        border-radius:5px;
		}
		#main-menu .navbar-nav > li > a:hover, 
		#main-menu .navbar-nav > li > a:focus, 
		#main-menu .navbar-nav > li.open a{
			background:#7b0506;
			color:#fff;
		}
		#main-menu .navbar-nav > li.open > a{
			-webkit-border-radius:5px 5px 0 0;
			   -moz-border-radius:5px 5px 0 0;
					border-radius:5px 5px 0 0;
		}
			#main-menu .dropdown-menu{
				background:#7b0506;
				border:none;
				padding:0;
				-webkit-border-radius:0 5px 5px 5px;
				   -moz-border-radius:0 5px 5px 5px;
				        border-radius:0 5px 5px 5px;
				-webkit-box-shadow:none;
				   -moz-box-shadow:none;
				     box-shadow:none;
			}
				#main-menu .dropdown-menu li a{
					font-size:15px;
					color:#fff;
					padding-top:8px;
					padding-bottom:8px;
				}
				#main-menu .dropdown-menu li:hover a{
					background:#570001;
					text-decoration:none;
					-webkit-border-radius:0;
					   -moz-border-radius:0;
							border-radius:0;
				}
				#main-menu .dropdown-menu li:first-child:hover a{
					-webkit-border-radius:0 5px 0 0;
					   -moz-border-radius:0 5px 0 0;
							border-radius:0 5px 0 0;
				}
				#main-menu .dropdown-menu li:last-child:hover a{
					-webkit-border-radius:0 0 5px 5px;
					   -moz-border-radius:0 0 5px 5px;
							border-radius:0 0 5px 5px;
				}
					#main-menu .dropdown-inner {
						display:table;
						padding-bottom:10px;
					}
						#main-menu .dropdown-inner ul {
							display:table-cell;
						}
						#main-menu .dropdown-inner .dropdown-header{
							font-size:15px;
							text-transform:uppercase;
							color:#fff;
							padding:15px 0 10px 15px;
						}
						#main-menu .dropdown-inner li a {
							min-width:160px;
							display:block;
							padding:3px 20px;
							clear:both;
						}
						#main-menu .dropdown-menu .dropdown-inner li:last-child:hover a{
							-webkit-border-radius:0;
							   -moz-border-radius:0;
									border-radius:0;
						}
		
/* Main Container Styles Starts */		

	.main-container{
		margin-bottom:25px;
	}
						
/* Breadcrumb Styles Starts */

	.breadcrumb{
		text-transform:uppercase;
		padding:5px 0 15px;
		margin-bottom:30px;
		border:solid #fff;
		border-width:0 0 3px 0;
		background:none;
		-webkit-border-radius:0;
		   -moz-border-radius:0;
				border-radius:0;
	}
		.breadcrumb li{
			padding-right:5px;
			color:#1c1c1c;
		}
		.breadcrumb > li + li:before{
			padding-right:10px;
			content:"\00BB";
			color:#fff;
		}
		.breadcrumb li a{
			color:#fff;
		}
		.breadcrumb li.active{
			color:#cf1a1c;
		}
		
/* Slider Section Styles Starts */

	#main-carousel{
		margin-bottom:25px;
	}
	
/* Banner Styles Starts */

	.col2-banners, 
	.col4-banners{
		margin-bottom:25px;
	}
	
/* Products Box Styles Starts */

	.products-list{
		margin-bottom:15px;
	}
		.product-head{
			margin:10px 0 30px;
			padding: 20px 30px 18px;
			font-size:30px;
			font-weight:bold;
			text-transform:uppercase;
			background:#262626;
			background:-webkit-linear-gradient(#343434, #262626);
			background:-o-linear-gradient(#343434, #262626);
			background:-moz-linear-gradient(#343434, #262626);
			background:linear-gradient(#343434, #262626);
		}
		.product-col{
			padding:0;
			margin-bottom:25px;
			text-align:center;
			background:#292929;
		}
		.product-col.side-product{
			
		}
		.product-col.list{
			text-align:left;
			margin-bottom:30px;
			padding-left:20px;
		}
		.product-col.list .image{
			padding:20px 30px 20px 0;
			float:left;
		}
		.product-col .caption{
			padding: 15px 15px 20px;
		}
			.product-col h4{
				font-size:24px;
				font-weight:bold;
			}
			.product-col h4, 
			.product-col h4 a, 
			.product-col .description{
				color:#fff;
			}
			.product-col h4 a:hover, 
			.product-col h4 a:focus{
				color:#eee;
			}
			.product-col .description{
				padding:5px;				
				font-size:12px;
				line-height:18px;
				text-align:justify;
			}
			.product-col.list .description{
				padding-right:20px;
			}
			.product-col .price{
				padding:15px 0 10px;
			}
				.product-col .price .price-tax{
					font-size:14px;
					color:#f9f9f9;
					text-transform:uppercase;
				}
				.product-col .price span.price-new{
					color:#b61517;
					font-weight:bold;
					font-size:30px;
					padding-right:5px;
				}
				.product-col .price span.price-old{
					font-size:24px;
					font-weight:300;
					color:#fff;
					text-decoration:line-through;
				}
			.product-col .cart-button{
				padding-top:7px;
			}
				.product-col .btn-wishlist, 
				.product-col .btn-compare{
					font-size:19px;
					color:#b61517;
					background:#fff;
					margin-left:5px;
				}
				.product-col .btn-wishlist:hover, 
				.product-col .btn-wishlist:focus, 
				.product-col .btn-compare:hover, 
				.product-col .btn-compare:focus{
					color:#fff;
					background:#b61517;
				}				
				.product-col .btn-cart{
					padding:8px 16px;
					font-size:18px;
					font-weight:bold;
					color:#fff;
					text-transform:capitalize;
					background:#b61517;
					border:none;
				}
				.product-col .btn-cart .fa-shopping-cart{
					font-size:22px;
					margin-right:6px;
				}
				.product-col .btn-cart:hover{
					background:#8e0204;
				}
				
/* Table Styles Starts */

.table{
	color:#222;
}				
	
/* Shopping Cart Page Styles Starts */

	.shopping-cart-table{
		margin-top:30px;
		background:#fff;
		text-transform:uppercase;
	}
		.shopping-cart-table thead > tr > td{
			font-size:15px;
			font-weight:600;
			border-bottom:none;
		}
		.shopping-cart-table tbody > tr > td{
			font-size:16px;
		}
		.shopping-cart-table tbody > tr > td a:hover{
			color:#252a2f;
		}
		
/* Compare Page Styles Starts */

	.compare-table{
		margin-top:30px;
		text-transform:uppercase;
	}
		.compare-table .table{
			background:#fff;
		}
		.compare-table thead{
			background:#f9f9f9;
		}
		.compare-table thead > tr > td{
			font-size:15px;
			font-weight:600;
			border-bottom:none;
		}
		.compare-table tbody > tr > td{
			font-size:14px;
		}
		.compare-table tbody > tr > td a:hover{
			color:#cf1a1c;
		}
		.compare-table td{
			text-align:center;
		}
		.compare-table .rating .fa-star{
			color:#cf1a1c;
		}
	
/* Login & Registration Section Styles Starts */

	.login-area{
		padding-top:30px
	}
	.registration-area{
		padding-top:20px;
	}
	.panel-smart{
		padding:20px;
		color:#222;
		background:#fff;
		border:1px solid #e8e8e8;
	}
		.panel-smart .panel-heading{
			padding:5px 0 15px 0;
			color:#252a2f;
			border-bottom:1px solid #929497;
		}
		.panel-smart h3.panel-title{
			font-size:24px;
		}
		.panel-smart .panel-body{
			padding:20px 0 0;
		}
	.registration-area .inner{
		margin-top:30px;
		margin-bottom:20px;
	}
	.registration-area .control-label{
		color:#8b8b8b;
		font-weight:600;
	}
	.registration-area .form-control, .registration-area .btn{
		-webkit-border-radius:0;
		   -moz-border-radius:0;
		        border-radius:0;
	}
	.registration-area .dl-horizontal{
	}
		.registration-area .dl-horizontal dt{
			font-weight:normal;
		}
		.registration-area .dl-horizontal dd{
			font-weight:bold;
		}
		.registration-area .dl-horizontal dt, .registration-area .dl-horizontal dd{
			margin-bottom:5px;
		}
	.registration-area .dl-horizontal.total{
		color:#cf1a1c;
		font-size:18px;
	}
		.registration-area .dl-horizontal.total dt, 
		.registration-area .dl-horizontal.total dd{
			margin-bottom:0;
		}
	
/* Category Intro Content Styles Starts */

	.cat-intro{
		padding-top:10px;
	}
		.cat-intro .img-thumbnail{
			-webkit-border-radius:0;
			   -moz-border-radius:0;
					border-radius:0;
		}
		.cat-intro .cat-body{
			color:#eee;
			font-size:13px;
			padding-left:5px;
			text-align:justify;
		}
		
/* Product Filter Styles Starts */

	.product-filter{
		margin:30px 0;
		padding:8px 0;
		border:solid #fff;
		border-width:1px 0;
	}
		.product-filter .display{
			padding-top:5px;
		}
			.product-filter .display a{
				color:#fff;
				font-size:24px;
				margin-right:6px;
			}
			.product-filter .display a.active{
				color:#cf1a1c;
			}
			.product-filter .display a:hover, 
			.product-filter .display a:focus{
				text-decoration:none;
			}
		.product-filter .control-label{
			padding-top:5px;
			font-size:18px;
			font-weight:normal;
		}
		.product-filter .form-control{
			height:30px;
			padding:3px 6px;
			-webkit-border-radius:0;
			   -moz-border-radius:0;
					border-radius:0;
		}
		
/* Product Page Styles Starts */
	
	.product-info{
		padding-top:10px;
	}
		.product-info .images-block{
		}
		.product-info .images-block .thumbnail{
			padding:10px;
		}
		.product-info.full .images-block .list-inline{
			margin-left:-5px;
		}
		.product-info.full .images-block .list-inline li{
			padding-left:5px;
			padding-right:5px;
		}
		.product-info .images-block .list-inline{
			margin-left:-2px;
		}
		.product-info .images-block .list-inline li{
			padding-left:2px;
			padding-right:2px;
		}
		.product-info .images-block .list-inline .thumbnail{
			padding:5px;
		}
		.product-info .product-details{
		}
		.product-info .product-details h2{
			margin-top:0;
			font-size:24px;
		}
		.product-info .product-details h3{
			font-size:22px;
		}
		.product-info .product-details h2, .product-info .product-details h3{
			text-transform:uppercase;
		}
		.product-info .product-details .manufacturer{
			color:#f9f9f9;
			text-transform:uppercase;
		}
			.product-info .product-details .manufacturer span{
				min-width:130px;
				display:inline-block;
				color:#fff;
			}
		.product-info .product-details .price{
		}
			.product-info .product-details .price-head{
				padding-right:10px;
				font-size:24px;
				color:#fff;
				text-transform:uppercase;
			}
			.product-info .product-details .price-tax{
				padding-top:5px;
				font-size:14px;
				color:#f9f9f9;
				text-transform:uppercase;
			}
			.product-info .product-details .price-new{
				color:#b61517;
				font-weight:bold;
				font-size:30px;
				padding-right:5px;
			}
			.product-info .product-details .price-old{
				font-size:24px;
				font-weight:300;
				color:#fff;
				text-decoration:line-through;
			}
		.product-info .product-details .options{
		}
			.product-info .product-details .options h3{
				margin-bottom:20px;
			}
			.product-info .product-details .options h6{
				font-weight:700;
			}
			.product-info .product-details .cart-button{
			}
				.product-info .product-details .cart-button .btn{

				}
				.product-info .product-details .btn-wishlist, 
				.product-info .product-details .btn-compare{
					font-size:19px;
					color:#b61517;
					background:#fff;
					margin-left:5px;
				}
				.product-info .product-details .btn-wishlist:hover, 
				.product-info .product-details .btn-wishlist:focus, 
				.product-info .product-details .btn-compare:hover, 
				.product-info .product-details .btn-compare:focus{
					color:#fff;
					background:#b61517;
				}
				.product-info .product-details .btn-cart{
					padding:8px 16px;
					font-size:18px;
					font-weight:bold;
					color:#fff;
					text-transform:capitalize;
					background:#b61517;
					border:none;
				}				
				.product-info .product-details .btn-cart .fa-shopping-cart{
					font-size:22px;
					margin-right:6px;
				}
				.product-info .product-details .btn-cart:hover, 
				.product-info .product-details .btn-cart:focus{
					background:#8e0204;
				}
	.product-info-box{
		padding-top:10px;
	}
	.product-info-box + .product-info-box{
		padding-top:30px;
	}
		.product-info-box .heading{
			padding-bottom:20px;
			padding:12px 20px;
			font-size:18px;
			color:#fff;
			background:#cf1a1c;
		}
		.product-info-box .content{
			background:none;
			border:none;
			padding:20px;
			padding:20px;
			background:#fff;
			border:1px solid #ddd;
		}
		
/* Tabs Styles Starts */

	.tabs-panel{
		margin-top:30px;
	}
	.tabs-panel.panel-smart{
		padding:0;
		background:none;
		border:none;
	}
		.tabs-panel .nav-tabs{
			font-size:16px;
			border-bottom:1px solid #cf1a1c;
		}
		.tabs-panel .nav-tabs > li{
			margin-bottom:0;
			margin-right:5px;
		}
		.tabs-panel .nav-tabs > li > a{
			color:#fff;
			margin:0; 
		}
		.tabs-panel .nav-tabs > li > a, 
		.tabs-panel .btn, 
		.tabs-panel .form-control{
			-webkit-border-radius:0;
			   -moz-border-radius:0;
			        border-radius:0;
		}
		.tabs-panel .nav-tabs > li.active > a, 
		.tabs-panel .nav-tabs > li.active > a:hover, 
		.tabs-panel .nav-tabs > li.active > a:focus, 
		.tabs-panel .nav > li > a:hover, 
		.tabs-panel .nav > li > a:focus{
			background:none;
		}
		.tabs-panel .nav-tabs > li > a, 
		.tabs-panel .nav-tabs > li.active > a, 
		.tabs-panel .nav-tabs > li.active > a:hover, 
		.tabs-panel .nav-tabs > li.active > a:focus, 
		.tabs-panel .nav-tabs > li > a:hover{
			border:none;
		}
		.tabs-panel .nav-tabs > li.active, 
		.tabs-panel .nav-tabs > li.active > a, 
		.tabs-panel .nav-tabs > li > a:hover{
			background:#cf1a1c;
			color:#fff;
			-webkit-border-radius:5px 5px 0 0;
			   -moz-border-radius:5px 5px 0 0;
			        border-radius:5px 5px 0 0;
		}
		.tabs-panel .tab-content{
			padding:20px 0;
			color:#fff;
		}
		.tabs-panel .tab-content .table{
			background:#fff;
		}
		.tabs-panel label.control-label{
			text-transform:uppercase;
			font-weight:normal;
		}
		.tabs-panel label.control-label.ratings{
			padding-top:1px;
		}
		.tabs-panel .btn{
			margin-left:-10px;
		}
		

/* Pagination Styles Starts */
	.pagination{
		margin:0; 
	}
		.pagination > li > a, 
		.pagination > li > a:hover, 
		.pagination > span, 
		.pagination > span:hover{
			color:#222;
		}
		.pagination > li:first-child > a, 
		.pagination > li:first-child > span,
		.pagination > li:last-child > a, 
		.pagination > li:last-child > span{
			-webkit-border-radius:0;
			   -moz-border-radius:0;
					border-radius:0;
		}
		.pagination > .active > a, 
		.pagination > .active > span, 
		.pagination > .active > a:hover, 
		.pagination > .active > span:hover, 
		.pagination > .active > a:focus, 
		.pagination > .active > span:focus{
			background:#cf1a1c;
			border-color:#cf1a1c;
		}
	.results{
		padding-top:10px;
		text-align:right;
	}
		
/* Page Content Styles Starts */

	.page-box{
		color:#8b8b8b;
		font-size:13px;
		margin-bottom:40px;
	}
		.page-box h3{
			margin:0;
			font-size:30px;
			color:#fff;
		}
		.page-box h3, .page-box h4{
			text-transform:uppercase;		
		}
		.page-box h4{
			margin:5px 0 15px;
			color:#cf1a1c;
			font-size:18px;
		}
		.page-box .sm-links{
			margin-bottom:20px;
		}
			.page-box .sm-links li{
				background:#1c1c1c;
				width:34px;
				text-align:center;
				padding:5px 0 4px;
				margin:0 0 0 4px;
			}
			.page-box .sm-links li:hover, 
			.page-box .sm-links li:focus{
				background:#cf1a1c;
			}
				.page-box .sm-links li a .fa{
					color:#fff;
					font-size:24px;
				}
				
/* Content Box Styles Starts */

	.content-box{
		margin-top:20px;
		padding:0;
	}
		.content-box .special-heading{
			font-size:100px;
			color:#cf1a1c;
			margin-top:0;
			margin-bottom:30px;
		}
		
/* Map Wrapper Styles Starts */

	#map-wrapper{
		border:1px solid #feffff;
		margin:20px 0;
		height:250px;
	}
		
/* Sidebar Styles Stars */

	.side-heading{
		margin-top:0;
		padding:12px 20px;
		font-size:18px;
		color:#fff;
		background:#cf1a1c;		
	}
	.list-group-item{
		color:#252a2f;
		font-size:14px;
		text-transform:uppercase;
	}
	.list-group-item .fa{
		font-size:12px;
		padding-right:6px;
	}
	.filter-group{
		margin-left:20px;
	}
	
/* Blockquote Styles Starts */

	.panel-smart blockquote{
		margin:0;
		padding:5px 15px;
		color:#8b8b8b;
		font-size:13px;
		border:none;
	}
	.panel-smart blockquote footer{
		padding-top:10px;
		color:#252a2f;
		font-size:14px;
	}
	
/* Contact Details Box Styles Starts */
	
	.contact-details li + li{
		margin-top:20px;
	}
	.contact-details li .fa{
		color:#cf1a1c;
		padding:5px 10px 0 0;
		font-size:18px;
	}

/* Footer Links Styles Starts */

	.footer-links{
		padding:30px 0 40px;		
		background:#1c1c1c;
		border-top:4px solid #b61517;
	}
		.footer-links h4{
			margin-bottom:20px;
			color:#b61517;
			text-transform:uppercase;			
		}
		.footer-links ul{
			list-style:none;
			margin:0;
			padding:0;
		}
			.footer-links li{
				padding:4px 0;
			}
				.footer-links, 
				.footer-links li, 
				.footer-links li a, 
				.footer-links h5{
					color:#c5c5c5;
					font-weight:500;
				}
				.footer-links .last h5.lead{
					font-size:24px;
					margin-bottom:0;
				}
				.footer-links .last h5.lead span, 
				.footer-links li a:hover{
					color:#fff;
				}

/* Copyright Styles Starts */

	.copyright{
		padding:18px 0 8px;		
		background:#181818;
		-webkit-box-shadow: 3px -3px 3px 3px rgba(0, 0, 0, 0.5);
		   -moz-box-shadow: 3px -3px 3px 3px rgba(0, 0, 0, 0.5);
		        box-shadow: 3px -3px 3px 3px rgba(0, 0, 0, 0.5);
	}
		.copyright{
			color:#fff;
		}
		.copyright p{
			padding-top:4px;
		}
		
/* Genric Styles Starts */

.thumbnail, 
.form-control, 
.btn{
	-webkit-border-radius:0;
	   -moz-border-radius:0;
			border-radius:0;	
}
.side-heading, 
.product-head, 
.product-col, 
.product-col .btn-wishlist, 
.product-col .btn-compare, 
.product-col .btn-cart, 
.product-details .btn-wishlist, 
.product-details .btn-compare, 
.product-details .btn-cart, 
.product-info-box .heading, 
.product-info-box .content, 
.btn-radius-5{
	-webkit-border-radius:5px;
	   -moz-border-radius:5px;
			border-radius:5px;	
}
.product-col .image img{
	-webkit-border-radius:5px 5px 0 0;
	   -moz-border-radius:5px 5px 0 0;
			border-radius:5px 5px 0 0;	
}
.no-box-shadow {
	-webkit-box-shadow:none;
	   -moz-box-shadow:none;
			box-shadow:none;
}
