@small-card-width: 175px;
@small-card-height: 244px;

@large-card-width: 224px;
@large-card-height: 312px;

@full-card-width: 300px;
@full-card-height: 418px;

@card-padding: 15px;

#cardgrid {
    clear: both;

    .card {
        float: left;
    }
}

#card-grid-loading-bar {
    display: none;
}

.cardcell {
    float: left;
    width: @large-card-width + @card-padding + @card-padding;
    height: @large-card-height + @card-padding + @card-padding;
    position: relative;
    
    &.last {
        margin-right: 0px;
    }
    
    &.inactive {
        .card {
            display: none;
        }
    }
}

.card {
    display: block;
    background-size: 100%;
    background-position: 0% 38%;
    background-repeat: no-repeat;
    width: @large-card-width + @card-padding + @card-padding;
    height: @large-card-height + @card-padding + @card-padding;
    position: relative;
    padding: @card-padding;
    cursor: default;

    .card-frame {
        height: 100%;
        width: 100%;
        background-size: cover;
    }

    &[data-clan=Bain] {
        &[data-type=Ally] {
            .card-frame {
                background-image: url('../../images/frames/bain/ally.png');
            }
        }
        &[data-type=Structure] {
            .card-frame {
                background-image: url('../../images/frames/bain/structure.png');
            }
        }
        &[data-type=Event] {
            .card-frame {
                background-image: url('../../images/frames/bain/event.png');
            }
        }
    }

    &[data-clan=Monzar] {
        &[data-type=Ally] {
            .card-frame {
                background-image: url('../../images/frames/monzar/ally.png');
            }
        }
        &[data-type=Structure] {
            .card-frame {
                background-image: url('../../images/frames/monzar/structure.png');
            }
        }
        &[data-type=Event] {
            .card-frame {
                background-image: url('../../images/frames/monzar/event.png');
            }
        }
    }

    &[data-clan=Ronmir] {
        &[data-type=Ally] {
            .card-frame {
                background-image: url('../../images/frames/ronmir/ally.png');
            }
        }
        &[data-type=Structure] {
            .card-frame {
                background-image: url('../../images/frames/ronmir/structure.png');
            }
        }
        &[data-type=Event] {
            .card-frame {
                background-image: url('../../images/frames/ronmir/event.png');
            }
        }
    }

    &[data-clan=Galmath] {
        &[data-type=Ally] {
            .card-frame {
                background-image: url('../../images/frames/galmath/ally.png');
            }
        }
        &[data-type=Structure] {
            .card-frame {
                background-image: url('../../images/frames/galmath/structure.png');
            }
        }
        &[data-type=Event] {
            .card-frame {
                background-image: url('../../images/frames/galmath/event.png');
            }
        }
    }
    
    .card-part {
        position: absolute;
        color: #FFFFFF;
        text-decoration: none;
        font-family: 'Ubuntu Condensed', sans-serif;
        text-align: center;
    }
    
    .card-title {
        width: 88%;
        top: 6%;
        font-size: 18px;
        color: #000000;
    }
    
    .card-text {
        width: @large-card-width;
        top: 222px;
        height: 90px;
        font-size: 15px;
        line-height: 18px;
        color: #000000;
        padding: 0px 12px;
        margin: 0px;
    }

    .card-image {
        width: 88%;
        position: absolute;
        top: 4.5%;
        z-index: -10;

        img {
            width: 100%;
        }
    }
    
    .arrow-right {
        background-image: url('../../images/arrow-right.png');
        width: 16px;
        height: 10px;
        display: inline-block;
        background-position: 0px 1px;
    }

    .card-icon {
            background-size: cover;
        display: inline-block;
        position: relative;
        height: 14px;
        width: 14px;

        &.cost-icon {
            background-image: url('../../images/card/icons/coin.png');
            top: 2px;
        }

        &.speed-icon {
            background-image: url('../../images/card/icons/clock.png');
            top: 2px;
        }

        &.def-icon {
            background-image: url('../../images/card/icons/def.png');
            width: 11px;
        }

        &.atk-icon {
            background-image: url('../../images/card/icons/att.png');
        }

        &.weakness-icon {
            background-image: url('../../images/card/icons/weakness.png');
        }

        &.pain-icon {
            background-image: url('../../images/card/icons/pain.png');
            width: 13px;
            top: 1px;
        }

        &.health-icon {
            background-image: url('../../images/card/icons/health.png');
            width: 11px;
            top: 1px;
        }

        &.strength-icon {
            background-image: url('../../images/card/icons/strength.png');
        }
    }
    
    .card-influence {
        top: 15%;
        left: 80%;
        width: 28px;
        font-size: 11px;
        color: #FFF;
        text-align: center;
        line-height: 18px;
        
        .influence {
            width: 28px;
            height: 27px;
            
            &.Bain {
                background: url('/asset/images/flag-bain-sm.png') no-repeat top left;
            }
            
            &.Monzar {
                background: url('/asset/images/flag-monzar-sm.png') no-repeat top left;
            }
            
            &.Ronmir {
                background: url('/asset/images/flag-ronmir-sm.png') no-repeat top left;
            }
            
            &.Galmath {
                background: url('/asset/images/flag-galmath-sm.png') no-repeat top left;
            }
        }
    }
    
    .card-type {
        top: 13%;
        left: 31%;
        font-size: 11px;
        line-height: 11px;
        color: #FFF;
    }

    .card-stat {
        text-shadow:
           -1px -1px 0 #000,  
            1px -1px 0 #000,
            -1px 1px 0 #000,
             1px 1px 0 #000;
        font-size: 23px;
        width: 45px;
        height: 45px;
        text-align: center;
        background-size: cover;
        line-height: 43px;
        font-weight: bold;
    
        &.card-resources {
            top: 1%;
            left: 1%;
            background-image: url(/asset/images/card/icons/coin.png);
        }
    
        &.card-speed {
            top: 1%;
            right: 1%;
            background-image: url(/asset/images/card/icons/clock.png);
        }
    
        &.card-attack {
            bottom: 1%;
            left: 1%;
            width: 18.7%;
            height: 18.7%;
            background-image: url(/asset/images/card/icons/att.png);
            padding-right: 4px;
            line-height: 17.5%;
        }
    
        &.card-defence {
            bottom: 1%;
            right: 1%;
            width: 16.8%;
            height: 21.4%;
            text-align: center;
            background-image: url(/asset/images/card/icons/def.png);
            line-height: 22.2%;
        }
    }

    .tooltip {
        z-index: 100;
    }
}

a.card {
    color: #CCC;
}

#card-detail {
    min-height: 420px;
    
    > img {
        position: absolute;
    }
}

#card-values {
    padding-left: 310px;
}

#cardgrid {
    .card-deck-button {
        position: absolute;
        bottom: 130px;
        display: none;
        
        &.add-card {
            right: 15px;
        }
        
        &.remove-card {
            left: 15px;
        }
        
        &.multiple {
            bottom: 90px;
        }
    }
}
.card-deck-button {
    cursor: pointer;
}
#mydeck {
    overflow: hidden;
}
.decklist {
    tr {
        background-repeat: repeat-x;
        background-position: top left;
        color: #000;
        font-family: 'Ubuntu Condensed', sans-serif;
        
        td {
            padding: 10px 5px 0px 5px;
        }
        
        &.Artifact {
            background-image: url('/asset/images/artifact_bg.jpg');
        }
        
        &.Galmath {
            background-color: #cfcfcf;
            border-top: 2px solid #4c4c4c;
        }
        
        &.Ronmir {
            background-color: #e2c9c5;
            border-top: 2px solid #a9764f;
        }
        
        &.Monzar {
            background-color: #fbdaeb;
            border-top: 2px solid #c25b70;
        }
        
        &.Bain {
            background-color: #daeefb;
            border-top: 2px solid #5b7bc2;
        }
    }
}

.deck-card {
    height: 30px;
}

.deck-card-image {
    height: 30px;
    width: 155px;
    background-repeat: no-repeat;
    background-position: -12px -6px;
    margin-bottom: 5px;
    float: left;
}

.deck-card-quantity {
    float: right;
    margin-top: 9px;
    color: #FFFFFF;
}

.deck-links {
    float: right;
    font-size: 12px;
}

/*
.cardcell.large.last, .cardcell.large.last > .card {
    width: 225px;
    height: 313px;
}*/


/*.card.full .influence {
    width: 37px;
    height: 35px;
}
.card.full .influence.Bain {
    background: url('/asset/images/flag-bain.png') no-repeat top left;
}
.card.full .influence.Monzar {
    background: url('/asset/images/flag-monzar.png') no-repeat top left;
}
.card.full .influence.Ronmir {
    background: url('/asset/images/flag-ronmir.png') no-repeat top left;
}
.card.full .influence.Galmath {
    background: url('/asset/images/flag-galmath.png') no-repeat top left;
}*/