.chat-box {
    #chat-text {
        max-width: 100%;
    }
    
    .chat {
        height: 200px;
        overflow-y: auto;
        margin: 0px;
        font-size: 12px;
        
        li {
            padding: 2px 0px;
            line-height: 12px;
        }
        
        .chat-row {
            .chat-author {
                font-weight: bold;
                display: inline;
            }
            
            .chat-message {
                display: inline;
            }
            
            &.error {
                color: red;
            }
        }
    }
}