body {
    overflow: hidden;
    background: #052914;
}

#readytoplay {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    z-index: 100;
    background: white;
    border: 2px solid black;
    text-align: center;
    padding-top: 60px;
    
    #ready {

    }
}

#game {
    opacity: 0.3;
    width: 1000px;
    height: 750px;
    overflow: hidden;
    background: #cacaca url('/asset/images/bgs/bg_wood.jpg') repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -375px;
    margin-left: -500px;
    user-select: none;

    #clock {
        .clock {
            background: #fff url(/asset/images/clock-face.svg) no-repeat center;
            background-size: 95%;
            width: 112px;
            height: 112px;
        }
    }

    .zone {
        text-align: center;

        .card {
            /*transform: scale(0.625263);
            margin-right: -95.1832px;
            margin-bottom: -128.16px;*/
        }
        .card-render {
            display: inline-block;
        }
    }

    #inPlaySection {
        padding: 10px 0;

        .play {
            height: 215px;
            display: flex;

            .playSlot {
                height: 215px;
                width: 154px;
                margin: 0 5px;
                background-image: url(/asset/images/stone-bg2.jpg);
                background-size: cover;
                z-index: 0;
                position: relative;

                &.highlighted::after {
                    content: "";
                    background: rgba(45, 88, 35, 0.51);
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 1;
                }

                &.valid {
                    outline: 1px solid green;
                }

                &.invalid::after {
                    content: "";
                    background: rgba(88, 35, 35, 0.51);
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 1;
                }
            }

            &.me {
                margin-top: 10px;
            }
        }
    }

    .playerSection {
        height: 145px;
        display: flex;

        &#opponentSection {

        }
    
        &#meSection {

        }

        .playerStatus {
            background-image: url(/asset/images/stone-bg.jpg);
            background-size: cover;
            width: 236px;
            display: flex;
            padding: 15px 10px;

            .playerOptions {
                width: 126px;
                
                #drawCardButton {
                    position: relative;
                    padding-right: 28px;
    
                    .amount {
                        background-image: url(/asset/images/card/icons/resource.jpg);
                        background-repeat: no-repeat;
                        background-position: top left;
                        height: 17px;
                        width: 17px;
                        display: inline-block;
                        vertical-align: middle;
                        position: absolute;
                        right: 4px;
                        top: 7px;
                        font-size: 13px;
                    }
                }

                #chat-container {
                    margin-bottom: 10px;
    
                    .chat-box {
                        padding: 10px 15px;
                        width: 20vw;
                        min-width: 160px;

                        .chat {
                            height: 30vh;
                        }
                    }
                }
            }

            .aboutPlayer {
                width: 110px;

                .playerName {
                    color: white;
                    font-size: 14px;
                    text-align: center;
                }

                .playerStats {

                    .playerLife {
                        background-image: url('/asset/images/card/icons/def.png');
                        background-size: cover;
                        width: 35px;
                        height: 44px;
                        text-align: center;
                        color: white;
                        padding-top: 12px;
                        margin: auto;
                        margin-bottom: 10px;
                    }

                    .playerResources {
                        background-image: url('/asset/images/card/icons/coin.png');
                        background-size: cover;
                        width: 36px;
                        height: 36px;
                        color: black;
                        margin: auto;
                        text-align: center;
                        padding-top: 7px;
                    }

                    .discard {

                        .discardSize {
                            
                        }
                    }
                }
            }

            .gameClock {
                width: 126px;
            }
        }

        .deck {
            background: url('/asset/images/card/clans-cardback.jpg') no-repeat top left;
            background-size: cover;
            height: 185px;
            width: 132px;
            position: relative;
            z-index: 20;

            .deckSize {
                top: 60%;
                position: absolute;
                margin-left: -10px;
            }

            &.opponent {
                top: -40px;
            }
        }

        .hand {
            width: 660px;
            padding: 0 10px;
            z-index: 30;

            &.opponent {
                .card-render {
                    top: -60px;
                    position: relative;
                }
            }

            .card-render {
                &.validToPlay {
                    .card-frame {
                        outline: 2px solid green;
                    }
                }
            }

            &.me {
                &[data-size="3"] {
                    .card-render {
                        &:nth-child(1) {
                            transform: rotateZ(-10deg) translateY(6%) translateX(1%);
                        }
                        &:nth-child(3) {
                            transform: rotateZ(10deg) translateY(6%) translateX(1%);
                        }
                    }
                }

                &[data-size="4"] {
                    .card-render {
                        margin-left: -3%;
                        margin-right: -3%;
                        
                        &:nth-child(1) {
                            transform: rotateZ(-20deg) translateY(12%) translateX(2%);
                        }
                        &:nth-child(2) {
                            transform: rotateZ(-10deg) translateY(6%) translateX(1%);
                        }
                        &:nth-child(3) {
                            transform: rotateZ(10deg) translateY(6%) translateX(1%);
                        }
                        &:nth-child(4) {
                            transform: rotateZ(20deg) translateY(12%) translateX(2%);
                        }
                    }
                }

                &[data-size="5"] {
                    .card-render {
                        margin-left: -4%;
                        margin-right: -4%;

                        &:nth-child(1) {
                            transform: rotateZ(-20deg) translateY(12%) translateX(2%);
                        }
                        &:nth-child(2) {
                            transform: rotateZ(-10deg) translateY(6%) translateX(1%);
                        }
                        &:nth-child(4) {
                            transform: rotateZ(10deg) translateY(6%) translateX(1%);
                        }
                        &:nth-child(5) {
                            transform: rotateZ(20deg) translateY(12%) translateX(2%);
                        }
                    }
                }

                &[data-size="6"] {
                    .card-render {
                        margin-left: -5%;
                        margin-right: -5%;

                        &:nth-child(1) {
                            transform: rotateZ(-30deg) translateY(18%) translateX(3%);
                        }
                        &:nth-child(2) {
                            transform: rotateZ(-20deg) translateY(12%) translateX(2%);
                        }
                        &:nth-child(3) {
                            transform: rotateZ(-10deg) translateY(6%) translateX(1%);
                        }
                        &:nth-child(4) {
                            transform: rotateZ(10deg) translateY(6%) translateX(1%);
                        }
                        &:nth-child(5) {
                            transform: rotateZ(20deg) translateY(12%) translateX(2%);
                        }
                        &:nth-child(6) {
                            transform: rotateZ(30deg) translateY(18%) translateX(3%);
                        }
                    }
                }

                &[data-size="7"] {
                    .card-render {
                        margin-left: -6%;
                        margin-right: -6%;

                        &:nth-child(1) {
                            transform: rotateZ(-30deg) translateY(18%) translateX(3%);
                        }
                        &:nth-child(2) {
                            transform: rotateZ(-20deg) translateY(12%) translateX(2%);
                        }
                        &:nth-child(3) {
                            transform: rotateZ(-10deg) translateY(6%) translateX(1%);
                        }
                        &:nth-child(5) {
                            transform: rotateZ(10deg) translateY(6%) translateX(1%);
                        }
                        &:nth-child(6) {
                            transform: rotateZ(20deg) translateY(12%) translateX(2%);
                        }
                        &:nth-child(7) {
                            transform: rotateZ(30deg) translateY(18%) translateX(3%);
                        }
                    }
                }

                &[data-size="8"] {
                    .card-render {
                        margin-left: -7%;
                        margin-right: -7%;

                        &:nth-child(1) {
                            transform: rotateZ(-40deg) translateY(24%) translateX(4%);
                        }
                        &:nth-child(2) {
                            transform: rotateZ(-30deg) translateY(18%) translateX(3%);
                        }
                        &:nth-child(3) {
                            transform: rotateZ(-20deg) translateY(12%) translateX(2%);
                        }
                        &:nth-child(4) {
                            transform: rotateZ(-10deg) translateY(6%) translateX(1%);
                        }
                        &:nth-child(5) {
                            transform: rotateZ(10deg) translateY(6%) translateX(1%);
                        }
                        &:nth-child(6) {
                            transform: rotateZ(20deg) translateY(12%) translateX(2%);
                        }
                        &:nth-child(7) {
                            transform: rotateZ(30deg) translateY(18%) translateX(3%);
                        }
                        &:nth-child(8) {
                            transform: rotateZ(40deg) translateY(24%) translateX(4%);
                        }
                    }
                }

                &[data-size="9"] {
                    .card-render {
                        margin-left: -8%;
                        margin-right: -8%;

                        &:nth-child(1) {
                            transform: rotateZ(-40deg) translateY(24%) translateX(4%);
                        }
                        &:nth-child(2) {
                            transform: rotateZ(-30deg) translateY(18%) translateX(3%);
                        }
                        &:nth-child(3) {
                            transform: rotateZ(-20deg) translateY(12%) translateX(2%);
                        }
                        &:nth-child(4) {
                            transform: rotateZ(-10deg) translateY(6%) translateX(1%);
                        }
                        &:nth-child(6) {
                            transform: rotateZ(10deg) translateY(6%) translateX(1%);
                        }
                        &:nth-child(7) {
                            transform: rotateZ(20deg) translateY(12%) translateX(2%);
                        }
                        &:nth-child(8) {
                            transform: rotateZ(30deg) translateY(18%) translateX(3%);
                        }
                        &:nth-child(9) {
                            transform: rotateZ(40deg) translateY(24%) translateX(4%);
                        }
                    }
                }
            }

            &.opponent {
                &[data-size="3"] {
                    .card-render {
                        &:nth-child(1) {
                            transform: rotateZ(10deg) translateY(-6%) translateX(-1%);
                        }
                        &:nth-child(3) {
                            transform: rotateZ(-10deg) translateY(-6%) translateX(-1%);
                        }
                    }
                }

                &[data-size="4"] {
                    .card-render {
                        margin-left: -3%;
                        margin-right: -3%;
                        
                        &:nth-child(1) {
                            transform: rotateZ(20deg) translateY(-12%) translateX(-2%);
                        }
                        &:nth-child(2) {
                            transform: rotateZ(10deg) translateY(-6%) translateX(-1%);
                        }
                        &:nth-child(3) {
                            transform: rotateZ(-10deg) translateY(-6%) translateX(-1%);
                        }
                        &:nth-child(4) {
                            transform: rotateZ(-20deg) translateY(-12%) translateX(-2%);
                        }
                    }
                }

                &[data-size="5"] {
                    .card-render {
                        margin-left: -4%;
                        margin-right: -4%;

                        &:nth-child(1) {
                            transform: rotateZ(20deg) translateY(-12%) translateX(-2%);
                        }
                        &:nth-child(2) {
                            transform: rotateZ(10deg) translateY(-6%) translateX(-1%);
                        }
                        &:nth-child(4) {
                            transform: rotateZ(-10deg) translateY(-6%) translateX(-1%);
                        }
                        &:nth-child(5) {
                            transform: rotateZ(-20deg) translateY(-12%) translateX(-2%);
                        }
                    }
                }

                &[data-size="6"] {
                    .card-render {
                        margin-left: -5%;
                        margin-right: -5%;

                        &:nth-child(1) {
                            transform: rotateZ(30deg) translateY(-18%) translateX(-3%);
                        }
                        &:nth-child(2) {
                            transform: rotateZ(20deg) translateY(-12%) translateX(-2%);
                        }
                        &:nth-child(3) {
                            transform: rotateZ(10deg) translateY(-6%) translateX(-1%);
                        }
                        &:nth-child(4) {
                            transform: rotateZ(-10deg) translateY(-6%) translateX(-1%);
                        }
                        &:nth-child(5) {
                            transform: rotateZ(-20deg) translateY(-12%) translateX(-2%);
                        }
                        &:nth-child(6) {
                            transform: rotateZ(-30deg) translateY(-18%) translateX(-3%);
                        }
                    }
                }

                &[data-size="7"] {
                    .card-render {
                        margin-left: -6%;
                        margin-right: -6%;

                        &:nth-child(1) {
                            transform: rotateZ(30deg) translateY(-18%) translateX(-3%);
                        }
                        &:nth-child(2) {
                            transform: rotateZ(20deg) translateY(-12%) translateX(-2%);
                        }
                        &:nth-child(3) {
                            transform: rotateZ(10deg) translateY(-6%) translateX(-1%);
                        }
                        &:nth-child(5) {
                            transform: rotateZ(-10deg) translateY(-6%) translateX(-1%);
                        }
                        &:nth-child(6) {
                            transform: rotateZ(-20deg) translateY(-12%) translateX(-2%);
                        }
                        &:nth-child(7) {
                            transform: rotateZ(-30deg) translateY(-18%) translateX(-3%);
                        }
                    }
                }

                &[data-size="8"] {
                    .card-render {
                        margin-left: -7%;
                        margin-right: -7%;

                        &:nth-child(1) {
                            transform: rotateZ(40deg) translateY(-24%) translateX(-4%);
                        }
                        &:nth-child(2) {
                            transform: rotateZ(30deg) translateY(-18%) translateX(-3%);
                        }
                        &:nth-child(3) {
                            transform: rotateZ(20deg) translateY(-12%) translateX(-2%);
                        }
                        &:nth-child(4) {
                            transform: rotateZ(10deg) translateY(-6%) translateX(-1%);
                        }
                        &:nth-child(5) {
                            transform: rotateZ(-10deg) translateY(-6%) translateX(-1%);
                        }
                        &:nth-child(6) {
                            transform: rotateZ(-20deg) translateY(-12%) translateX(-2%);
                        }
                        &:nth-child(7) {
                            transform: rotateZ(-30deg) translateY(-18%) translateX(-3%);
                        }
                        &:nth-child(8) {
                            transform: rotateZ(-40deg) translateY(-24%) translateX(-4%);
                        }
                    }
                }

                &[data-size="9"] {
                    .card-render {
                        margin-left: -8%;
                        margin-right: -8%;

                        &:nth-child(1) {
                            transform: rotateZ(40deg) translateY(-24%) translateX(-4%);
                        }
                        &:nth-child(2) {
                            transform: rotateZ(30deg) translateY(-18%) translateX(-3%);
                        }
                        &:nth-child(3) {
                            transform: rotateZ(20deg) translateY(-12%) translateX(-2%);
                        }
                        &:nth-child(4) {
                            transform: rotateZ(10deg) translateY(-6%) translateX(-1%);
                        }
                        &:nth-child(6) {
                            transform: rotateZ(-10deg) translateY(-6%) translateX(-1%);
                        }
                        &:nth-child(7) {
                            transform: rotateZ(-20deg) translateY(-12%) translateX(-2%);
                        }
                        &:nth-child(8) {
                            transform: rotateZ(-30deg) translateY(-18%) translateX(-3%);
                        }
                        &:nth-child(9) {
                            transform: rotateZ(-40deg) translateY(-24%) translateX(-4%);
                        }
                    }
                }
            }
        }
    }

    #wait {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        z-index: 999;
        text-align: center;
        color: white;
        font-size: 40px;
        padding-top: 30%;
    }
}

.well {
    padding: 0;
    
    .well-inner {
        padding: 10px 20px;
    }
}

.ui-draggable-dragging {
    pointer-events: none;
}

/* Card hover */
.card-render {
    transition: transform 140ms;
    z-index: 200;
    position: relative;

    .hand.me & {
        &:hover, &.dragging {
            transform: scale(1.35) translateY(-45%) !important;
            z-index: 300;
        }
    }

    .play & {
        &:hover, &.dragging {
            transform: scale(1.25);
            z-index: 300;
        }
    }
}

/* svg */
svg {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9999;
    pointer-events: none;

    .targetArrow {
        stroke-dasharray: 10;
        animation: dash 1.2s linear;
        animation-iteration-count: infinite;
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: -100;
    }
}

/* large screen sizes */

@media (min-height: 1080px) and (min-width: 1440px) {
    #game {
        height: 1080px;
        width: 1440px;
        margin-top: -540px;
        margin-left: -720px;


        #clock {
            .clock {
                width: 156px;
                height: 156px;
            }
        }
        #inPlaySection {
            .play {
                height: 312px;

                .playSlot {
                    height: 312px;
                    width: 224px;
                }
            }
        }

        .playerSection {
            height: 213px;

            .deck {
                height: 266px;
                width: 190px;

                &.opponent {
                    top: -55px;
                }
            }

            .playerStatus {
                width: 340px;

                .playerOptions {
                    width: 160px;
                
                    #drawCardButton {
                        padding-right: 30px;
                    }
                }

                .aboutPlayer {
                    width: 160px;

                    .playerName {
                        font-size: 16px;
                        margin-bottom: 10px;
                    }

                    .playerStats {

                        .playerLife {
                            width: 39px;
                            height: 50px;
                            padding-top: 14px;
                            font-size: 15px;
                        }

                        .playerResources {
                            width: 40px;
                            height: 40px;
                            padding-top: 8px;
                            font-size: 15px;
                        }
                    }
                }

                .gameClock {
                    width: 180px;
                }
            }
            
            .hand {
                width: 880px;

                &.opponent {
                    .card-render {
                        top: -85px;
                    }
                }
            }
        }
    }

    .hand.me {
        .card-render {
            &:hover, &.dragging {
                transform: scale(1.25) translateY(-40%) !important;
            }
        }
    }
}
