body {
    background: #dedede;
    
    &.thin {
        padding: 10px 35px;
        left: 0px;
        
        .container {
            left: 0px;
        }
    }
}

#main {
    margin-top: 30px;
    
    > .row {
        position: relative;
    }
}

.side-heading {
    padding: 18px 20px;
}

.panel-smart {
    padding: 10px;
}

.leftbar {
    width: 220px;
    position: fixed;
    top: 70px;
    left: 0px;
}

.rightbar {
    width: 180px;
    position: fixed;
    top: 70px;
    right: 0px;
    text-align: right;
}

.main {
    padding: 0px 175px 0px 240px;
    
    &.grid {
        padding-right: 165px;
    }
}

#main-menu-left {
    margin-left: 87px;
}

#page {
    padding-left: 0px;
    padding-right: 0px;
}

.down {
    color: red;
}

.up {
    color: green;
}

.down-arrow, .up-arrow {
    margin-left: 3px;
    width: 13px;
    height: 16px;
    display: inline-block;
    background-repeat: no-repeat;
}

#datatable_wrapper {
    display: none;
    overflow: hidden;
    position: relative;
    
    .paging_full_numbers {
        .ui-button {
            color: #FFF !important;
        }
    }
    
    button.btn {
        margin-left: 10px;
        float: right;
    }
}

#datatable_filter {
    float: left;
    
    input {
        height: 20px;
        width: 110px;
    }
    
    a {
        cursor: pointer;
    }
}

#datatable_processing {
    width: 255px;
    position: absolute;
    top: 170px;
    left: 160px;
    opacity: 0.7;
    z-index: 10000;
}

table#datatable {
    font-size: 14px;
    
    td, th {
        padding: 3px 4px;
    }
}

a.dropdown-toggle {
    cursor: pointer;
}

#toolbox {
    /*background: #222;*/
    padding: 7px 10px;
    border-top: 0px;
    margin-bottom: 10px;
    background-color: #020202;
    background-image: -moz-linear-gradient(top,#020202,#020202);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#020202),to(#020202));
    background-image: -webkit-linear-gradient(top,#020202,#020202);
    background-image: -o-linear-gradient(top,#020202,#020202);
    background-image: linear-gradient(to bottom,#020202,#020202);
    background-repeat: repeat-x;
    border: 1px solid #000;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff020202',endColorstr='#ff020202',GradientType=0);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    border-top: solid 1px #2f2f2f;
    
    button {
        font-size: 12px;
        padding: 3px 8px;
    }
    
    > a {
        margin-top: 3px;
        margin-left: 8px;
        float: left;
        font-size: 12px;
    }
}
#card-filters {
    margin: 0px;
    
    #filter-text-box {
        margin-left: 0px;
        
        .add-on {
            height: 20px;
            cursor: pointer;
        }
    }
    
    > div {
        float: left;
        margin: 0px 5px;
    }
}

#grid-count {
    float: right;
    font-size: 12px;
    margin-top: 3px;
}

.table-filters {
    float: left;
    
    label {
        float: left;
        margin: 0px;
        margin-top: 5px;
        padding: 5px;
        margin-right: 10px;
        cursor: default;
    }
    
    .table-filter {
        input[type="checkbox"], input[type="radio"] {
            position: relative;
            top: -3px;
            left: -3px;
        }
        
        &.filter-active > a:after, &.filter-active > a {
            border-left-color: #FFF;
            color: #FFF;
        }
    }
}

#card-sort {
    margin-left: 5px;
}

#login {
    position: absolute;
    top: 10px;
    right: 0px;
    border: 1px solid #000;
    padding: 0px 5px;
    background: #E2E4FF;
    font: 10px arial,sans-serif;
}

tr.highlight {
    background: #0972a5 url(images/ui-bg_highlight-hard_20_0972a5_1x100.png) 50% 50% repeat-x;
    color: #FFF;
    
    a {
        color: #FFF;
    }
}

.dropdown-menu {
    label {
        color: #fff;
    }
    
    > li.openid {
        padding: 5px 5px 5px 35px;
    }
    
    > li.login-menu {
        > a {
            display: inline;
            background: transparent;
            color: #33b5e5;
            position: relative;
            top: 6px;
            padding: 0px 0px 0px 5px;
            font-size: 12px;
                
            :hover {
                text-decoration: underline;
            }
        }
    }
}

.openid {
    &.steam {
        background: url('/asset/images/openids/steam.png') no-repeat 5px 5px;
    }
    
    &.google {
        background: url('/asset/images/openids/google.png') no-repeat 5px 5px;
    }
    
    &.twitter {
        background: url('/asset/images/openids/twitter.png') no-repeat 5px 5px;
    }
}

#detail-btn {
    margin-top: 10px;
    text-align: center;
    position: absolute;
    top: 470px;
}

footer {
    margin-top: 50px;
    text-align: center;
    font-size: 10px;
}

table {
    table-layout: fixed;
    
    td, th {
        overflow: hidden;
    }
}

#deck-table-span {
    min-width: 400px;
}

#deck-name {
    width: 180px;
}

#deck-name, #saveDeckName {
    height: 17px;
    margin: 6px 0px 5px 0px;
    vertical-align: top;
}

#save-deck-name-button {
    height: 27px;
    vertical-align: top;
    margin-top: 6px;
}

#load-deck-button {
    height: 27px;
    float: right;
    vertical-align: top;
    margin-top: 6px;
}

.login-menu {
    padding: 15px;
    
    form {
        display: inline;
    }
}

#a-block {
    position: absolute;
    right: -180px;
    top: 0px;
}

#deck-pie {
    width: 178px;
    height: 178px;
}

/* Bootstrap customisation */
h1, h2, h3, h4, h5, h6 {
    margin: 0px 0px 10px 0px;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 18px;
    font-weight: normal;
}
h4 {
    font-size: 16px;
    font-weight: normal;
}
h5 {
    font-size: 14px;
    font-weight: normal;
}
h6 {
    font-size: 12px;
    font-weight: normal;
}
.well {
    padding: 0px;
}
.well .well-inner {
    padding: 10px 20px;
}
.well h3 {
    margin-top: 0px;
}
/*select, textarea, input[type="text"], input[type="password"],
input[type="datetime"], input[type="datetime-local"], input[type="date"],
input[type="month"], input[type="time"], input[type="week"], input[type="number"],
input[type="email"], input[type="url"], input[type="search"], input[type="tel"],
input[type="color"], .uneditable-input {
    height: 30px;
}*/

.progress {
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
}

.alert {
    p {
        margin: 5px 0px;
    }
}

pre {
    min-width: 520px;
}

.dl-horizontal {
    dt {
        width: 100px;
    }
    
    dd {
        margin-left: 120px;
    }
}

#page-errors {
    &.hidden {
        display: none;
    }
}

/* chat */

.chat-box .chat {
    height: 200px;
    overflow-y: auto;
    margin: 0px;
    font-size: 12px;
}

.chat-box .chat li {
    padding: 2px 0px;
    line-height: 12px;
}

.chat-box #chat-text {
    max-width: 100%;
}

.chat-box #chat-button {
}

.chat .chat-row .chat-author {
    font-weight: bold;
    display: inline;
}

.chat .chat-row .chat-message {
    display: inline;
}

.chat .chat-row.error {
    color: red;
}

/* players online */
.players-online .players {
    padding: 0px;
    height: 200px;
    overflow-y: auto;
    margin: 0px;
}

.players-online .players li {
    list-style: none;
}

.players-online .players li .challenge {
    font-size: 11px;
    margin-left: 10px;
    cursor: pointer;
}

.players-online {
    .players {
        padding: 0px;
        height: 200px;
        overflow-y: auto;
        margin: 0px;
        
        li {
            list-style: none;
            
            .challenge {
                font-size: 11px;
                margin-left: 10px;
                cursor: pointer;
            }
        }
    }
}

/*table th, table td {
    overflow: hidden;
}*/

/*table th, table td {
    overflow: hidden;
}*/